.intro {
	margin-bottom: 60px;
	@include r(sm) {
		margin-bottom: 120px;
	}
	&__wrap {
		background: url("@/img/bg/bg-intro.png") no-repeat right center;
		background-size: auto 100%;
		background-origin: content-box;
	}
	&__title {
		font-size: 24px;
		font-size: clamp(24px, 5vw, 55px);
		margin: 0 0 1em 0;
	}
	&__footer {
		display: flex;
		align-items: center;
	}
	&__footer-btn {
		margin-right: $lg;
	}
}

.benefits-index{
  &__cnt {
    @include r(xl) {
      padding: calc(2 * $lg) 0;
    }
  }
  .benefits-list {
    @include r(lg) {
      gap: 80px 100px;
    }
  }
}

@include r(lg) {
  .intro__wrap {
	  padding-left: 120px;
  }
	.intro__title {
		position: relative;
		&:before {
			content: "";
			width: 80px;
			height: 1px;
			background-color: $c-txt;
			position: absolute;
			top: .6em;
			left: -120px;
		}
	}
}
