.intro {
	margin-bottom: 60px;
	@include r(sm) {
		margin-bottom: 120px;
	}
	&__container {
		background: url("@/img/bg/bg-intro.png") no-repeat right center;
		background-size: auto 100%;
		background-origin: content-box;
	}
	&__title {
		font-size: 24px;
		font-size: clamp(24px, 5vw, 55px);
		margin: 0 0 1em 0;
	}
	&__footer {
		display: flex;
		align-items: center;
	}
	&__footer-btn {
		margin-right: $lg;
	}
}

.benefits-index{
  &__cnt {
    @include r(xl) {
      padding: calc(2 * $lg) 0;
    }
  }
  .benefits-list {
    @include r(lg) {
      gap: 80px 100px;
    }
  }
}
