.contact {
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	color: inherit;
	&:hover {
		color: inherit;
	}

	&__ico {
		font-size: 26px;
	}
	&__cnt {
		margin-left: 1em;
	}
	&__pre {
		font-size: 14px;
	}
	&__txt {
		font-weight: 500;
		font-size: 18px;
	}
}

.header__contacts--tel {
	@include rmax(sm) {
		margin-left: auto;
		.contact__ico {
			background-color: $c-main;
			color: #fff;
			font-size: 28px;
		}
		.contact__cnt {
			display: none;
		}
	}
}

.section-intro {
	margin-bottom: $lg;
  .title-section {
    align-self: flex-start;
  }
	@include r("md") {
		display: grid;
		gap: calc(0.5 * $lg) $lg;
		align-items: end;
		grid-template-columns: 1fr 1fr;
		margin-bottom: calc(2 * $lg);
		p {
			font-size: 18px;
			margin: 0 0 0.5em;
		}
	}
	&--title-line {
		align-items: start;
		.title-section {
			grid-column: span 2;
			margin-bottom: 2rem;
		}
	}
}

.rating {
	span {
		display: inline-block;
		width: 1em;
		height: 1em;
		background-repeat: no-repeat;
		background-size: cover;
    background-image: url("@/img/star-blue.svg");
	}
}

.rating[data-rating="4"] {
	span:nth-child(5) {
		opacity: 0.3;
	}
}
.rating[data-rating="3"] {
	span:nth-child(5),
	span:nth-child(4) {
		opacity: 0.3;
	}
}
.rating[data-rating="2"] {
	span:nth-child(5),
	span:nth-child(4),
	span:nth-child(3) {
		opacity: 0.3;
	}
}
.rating[data-rating="1"] {
	span:nth-child(5),
	span:nth-child(4),
	span:nth-child(3),
	span:nth-child(2) {
		opacity: 0.3;
	}
}

.review {
	border: 1px solid $c-light;
	padding: $lg;
	display: flex;
	flex-direction: column;

	&__header {
		display: flex;
    gap: 10px;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2em;
		.rating span {
			font-size: 16px;
			background-image: url("@/img/star-blue.svg");
		}
	}
	&__name {
		font-weight: 500;
		font-size: 16px;
    @include r(lg) {
      font-size: 22px;
    }
	}
	&__cnt {
	}
	&__footer {
		margin-top: auto;
	}
	&__more {
		text-decoration: none;
		color: inherit;
		font-weight: 500;
	}
	&--banner {
		.review__header {
			margin: 1em 0 0;
		}
		.rating span {
			font-size: 16px;
			background-image: url("@/img/star-white.svg");
		}
	}
}

.reviews {
	display: grid;
	gap: $lg;
  @include r(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include r(md) {
    grid-template-columns: repeat(3, 1fr);
  }
	@include r(xxl) {
		grid-template-columns: repeat(4, 1fr);
	}
	&--index {
		@include r(lg) {
			.review:nth-child(3n + 1) {
				grid-column: span 2;
			}
		}
	}
}

