.contact {
	text-decoration: none;
	display: flex;
	align-items: center;

	&__ico {
		font-size: 26px;
		margin-right: 0.5em;
	}
	&__pre {
		font-size: 14px;
	}
	&__txt {
		font-weight: 500;
		font-size: 18px;
	}
}

.section-intro {
	@include r("md") {
		display: grid;
		gap: $lg;
		align-items: end;
		grid-template-columns: 1fr 1fr;
		p {
			font-size: 18px;
			margin: 1em 0 0.5em;
		}
	}
}
