.contact {
	text-decoration: none;
	display: flex;
	align-items: center;

	&__ico {
		font-size: 26px;
		margin-right: 0.5em;
	}
	&__pre {
		font-size: 14px;
	}
	&__txt {
		font-weight: 500;
		font-size: 18px;
	}
}

.section-intro {
	@include r("md") {
		display: grid;
		gap: $lg;
		align-items: end;
		grid-template-columns: 1fr 1fr;
		p {
			font-size: 18px;
			margin: 1em 0 0.5em;
		}
	}
}

.rating {
	span {
		display: inline-block;
		width: 1em;
		height: 1em;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
.price {
}

.rating[data-rating="4"] {
	span:nth-child(5) {
		opacity: 0.3;
	}
}
.rating[data-rating="3"] {
	span:nth-child(5),
	span:nth-child(4) {
		opacity: 0.3;
	}
}
.rating[data-rating="2"] {
	span:nth-child(5),
	span:nth-child(4),
	span:nth-child(3) {
		opacity: 0.3;
	}
}
.rating[data-rating="1"] {
	span:nth-child(5),
	span:nth-child(4),
	span:nth-child(3),
	span:nth-child(2) {
		opacity: 0.3;
	}
}
