// ++++++++++++++++++++++++++++
// Form

input:not([type="submit"]),
input:not([type="checkbox"]),
input:not([type="radio"]),
textarea {
	padding: 1em 2em;
	border-radius: 100px;
	border: none;
	display: block;
}

input:focus,
textarea:focus {
	outline: none;
	box-shadow: 0 0 5px rgba($c-main, 0.5);
	@include placeholder() {
		opacity: 0.5;
	}
}

.form {
	max-width: 650px;
	margin: 0 auto;
  padding:$lg;
  &--center {
    text-align: center;
    input {
      text-align: center;
    }
  }

  &--aside {
    .form__title {
      font-size: 32px;
    }
    .form__txt {
      font-size: 16px;
    }
    .form__footer {
      font-size: 14px;
    }
    [type="submit"] {
      width: 100%;
    }
  }
}

.form--dark {
  background: $c-main url("@/img/bg/bg_form_call-dark.png") no-repeat bottom center;
  color: #fff;
}


.form-line {
	position: relative;
	margin-bottom: calc(0.5 * $lg);
	input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]) {
		width: 100%;
	}
	&--inline {
		display: flex;
		gap: $lg;
		@include rmax(sm) {
			flex-direction: column;
      align-items: center;
		}
	}
}

.form__title {
	font-family: $f-title;
	font-size: 24px;
	line-height: 1.2;
	margin: 0 0 0.5em;
	@include r(sm) {
		font-size: 40px;
	}
}

.form__txt {
	margin: 0 0 2.5em;
	@include r(sm) {
		font-size: 18px;
	}
}

.form__footer {
	margin: 0;
}

.popup-form {
	display: none;
	max-width: 500px;
}

// ++++++++++++++++++++++++++++
// button

.btn {
	display: inline-flex;
	flex: 0 0 auto;
	font-weight: 500;
	padding: 1em 2em;
	text-decoration: none;
	line-height: 1;
	border-radius: 0.5em;
	border: none;
	appearance: none;
	color: $c-txt;
	position: relative;
	overflow: hidden;
	background: #e1e5f1;
	border-radius: 50px;
	justify-content: center;
  align-items: center;
	&:not(.btn--title):hover {
		cursor: pointer;
		box-shadow: 0 0 0.8em rgba($c-txt, 0.3);
	}
	&--title {
		font-size: 16px;
		font-weight: 400;
		color: $c-main;
		padding: 0.5em 1.5em;
		margin: 20px 0 20px;
		@include r(sm) {
			margin: 0 0 50px;
		}
    @include rmax(xs) {
      font-size: 12px;
    }
	}
  &--long {
    padding: 1em 3em;
  }
	&--big {
		padding: 1em 2em;
		@include r(xs) {
			padding: 1.5em 3em;
		}
	}
  &--icon{
    height: 60px;
  }
	&--dark {
		background-color: $c-main;
		color: #fff;
		&:hover {
			color: #fff;
		}
	}
}

.btn-wrap {
  &--center {
    text-align: center;
  }
}

// Форма заказа звонка
.form-call-cnt {
	text-align: center;
	background: $c-light url("@/img/bg/bg_form_call.png") no-repeat bottom
		center;
  .form-line--inline {
    justify-content: center;
  }
}

.form-call-cnt.form-call-dark {
	background: $c-main url("@/img/bg/bg_form_call-dark.png") no-repeat bottom
		center;
	color: #fff;
}

.form-call-dark {
	.ico--round {
		background-color: $c-light;
	}
	.contact__cnt {
		text-align: left;
	}
	.form-line--inline {
		justify-content: center;
		margin-bottom: 0;
	}
}



