//______________________________________________________________________
// Навигация
.nav {
	margin: auto;
	justify-content: center;
	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&__item {
		position: relative;
		transition: all 0.3s;
	}
	&__link {
		font-family: $f-title;
		display: block;
		text-decoration: none;
		color: $c-txt;
    &:hover {color: $c-main}
	}
}

@include rm(1025, 1590) {
	.header {
		flex-wrap: wrap;
	}
	.nav {
		order: 10;
		margin-top: $lg;
    width: 100%;
    margin-left: 70px;
	}
	.nav > .nav__list > .nav__item > .nav__link {
		font-size: 18px;
	}
}

@include r(lg) {
	.nav > .nav__list {
		display: flex;
	}
	.nav > .nav__list > .nav__item > .nav__link {
		padding: 25px clamp(0.75em, 1vw, 2em);
	}
  .nav > .nav__list > .nav__item-sub > ul {
		padding: 20px;
		position: absolute;
		left: -50px;
		z-index: 100;
		background-color: #fff;
		filter: drop-shadow(0px 0px 10px rgba(#000, 0.15));
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s 0.3s;
    min-width: 280px;
		&:before {
			content: "";
			width: 30px;
			height: 30px;
			border-radius: 4px;
			transform: rotate(45deg);
			position: absolute;
			top: -15px;
			left: 75px;
			background-color: #fff;
		}
	}
  .nav > .nav__list > .nav__item-sub:hover > ul {
		opacity: 1;
		visibility: visible;
	}
	.nav__list-sub > .nav__item {
		padding: 20px;
		border-radius: 20px;
	}
	.nav__list-sub > .nav__item:hover {
		background-color: #eceef2;
		& > .nav__link {
			color: $c-txt;
		}
	}
  // третий уровень
  .nav>.nav__list>.nav__item-sub>ul>li {
    a {font-size: 18px;}
    ul {
      margin-top: .5em;
    }
    ul>li>a {
      font: 400 14px "Jost", serif;
      color: #9BA1B3;
      &:hover {
        color: $c-txt;
      }
    }

  }
}

// Подменю в шапке
@include r(lg) {
	.nav-mob-only {
		display: none;
	}
	.nav__list-sub {
		display: grid;
		padding: 20px;
		border-radius: 20px;
	}
	.nav-mega--3 {
		grid-template-columns: repeat(3, 1fr);
	}
	.nav-mega--4 {
		grid-template-columns: repeat(4, 1fr);
	}
	.nav-mega {
    width: 75vw;
    max-width: 920px;
		.service-card {
			background-color: transparent;
			&__ico {
				font-size: 32px;
				margin-bottom: 22px;
				background-color: #e1e5f1;
			}
			&__title {
				font-size: 18px;
				margin-top: 0;
				color: $c-txt;
			}
			&__txt {
				font: 14px $f-txt;
				margin-top: 0.75em;
				color: $c-txt;
			}
		}
	}
	.nav-banner {
		grid-column: span 3;
	}
}

.burger {
	padding: 10px;
	display: inline-block;
	cursor: pointer;
  @include r(xs) {
    margin-left: $lg;
  }
	@include r(1024) {
		display: none;
	}
	&__el {
		position: relative;
		display: block;
		height: 2px;
		width: 30px;
		background-color: $c-main;
		&:before,
		&:after {
			content: "";
			position: absolute;
			height: 2px;
			width: 30px;
			background-color: $c-main;
			transition: all 0.3s;
			transform-origin: 50% 50%;
		}
		&:before {
			transform: translateY(-8px);
		}
		&:after {
			transform: translateY(8px);
		}
	}
	&.toggle-open {
		.burger__el {
			background-color: transparent;
			&:before {
				transform: rotate(-45deg);
			}
			&:after {
				transform: rotate(45deg);
			}
		}
	}
}

.nav-banner a {
	color: $c-txt;
	text-decoration: none;
}

.nav-desktop-only {
	@include rmax(lg) {
		display: none !important;
	}
}

.hc-offcanvas-nav li.nav-parent .nav-item-link:last-child {
	padding: 20px;
}

.hc-offcanvas-nav {
	.service-card {
		display: flex !important;
		align-items: center;
		flex-direction: row;
		gap: 20px;
	}
	.service-card__ico {
		font-size: 20px;
	}

	.service-card__cnt,
	.service-card__title {
		margin-top: 0;
		font-size: 16px;
	}
}

// .hc-nav-trigger {
// 	position: relative;
// 	top: 0;
// 	margin-left: $lg;
// }

// .hc-offcanvas-nav .nav__list {
// 	flex-direction: column;
// }

.inner-nav {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 30px 0 0;
	&--right {
		@include r("md") {
			margin-top: 0;
			grid-column-start: 2;
		}
	}
	&__item {
		&:not(:last-child) {
			margin-right: 34px;
		}
	}
	&__link {
		text-decoration: none;
		color: $c-txt;
		font-weight: 500;
		transition: color 0.2s;
    &:hover {
      color: $c-main;
    }
	}
}

.nav-catalog {
	margin: calc(2 * $lg) 0 0;
	padding: 0;
	display: flex;
	list-style: none;
	border-bottom: 1px solid $c-light;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	&::-webkit-scrollbar {
		display: none;
	}

	&__item {
		flex: 0 0 auto;
		&:not(:first-child) {
			margin-left: 2em;
		}
		&.active .nav-catalog__link {
			border-color: $c-main;
		}
	}
	&__link {
		display: inline-block;
		text-decoration: none;
		font-weight: 500;
		color: $c-txt;
		padding-bottom: 1em;
		border-bottom: 4px solid transparent;
		white-space: nowrap;
	}
}

.rubric-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  overflow-x: auto;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
  @include rmax(md) {
    font-size: 14px;
  }
  &__item {
    flex: 0 0 auto;
    &.active{
      background-color: $c-main;
      color: #fff;
    }
  }
  &__link {
    display: inline-block;
    padding: .5em 1em;
    white-space: nowrap;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
    &:hover {
      color: $c-main;
    }
  }
  &--right {
    margin-left: auto;
    @include rmax(md) {
      margin-top: $lg;
    }
  }
}

.title-link.rubric-nav-title {
  @include rmax(md) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.aside-nav {
  @include rmax(xxl) {
    display: none;
  }
  &__title {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 1em;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item.active {
    .aside-nav__link {
      color: $c-main;
    }
  }
  &__link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: .2em 0;
    &:hover {
      color: $c-main;
    }
  }
}

.hc-offcanvas-nav {
  font-family: inherit;
}

.hc-offcanvas-nav .nav-wrapper>.nav-content>ul:not(:last-child) {
  border-bottom: none;
}

.nav-title {
  display: flex;
  align-items: center;
  gap: 20px;
  .logo {
    display: block;
    flex: 0 0 200px;
  }
  .contact__ico {
    font-size: 24px !important;
    color: #fff;
    background-color: $c-main;
    margin-right: 0;
  }
  .contact__cnt {
    display: none;
  }
}

#hc-nav-1-nav-title {
  padding: 40px 20px 0 20px;
}
.hc-offcanvas-nav .nav-title+.nav-close a:not(.has-label) {
  top: -140px
}

.mob-nav-footer {
  padding: 20px;
  display: grid;
  gap: 20px;
  .contact {
    display: flex;
    margin: 0;
  }
  .contact__cnt {
    display: block;
  }
  .contact__ico {
    color: $c-main;
    background-color: $c-light !important;
  }
  .contact__txt {
    font-weight: 500;
    font-size: 16px;
  }
}
