pre {
	font-family: inherit;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

* {
	min-width: 0;
}

// *
//   outline: 1px solid green
a {
	transition: all 0.3s;
}

p:first-child {
	margin-top: 0;
}

.page {
	flex: 1 0;
}

.container,
[class*="_container"] {
	max-width: 1840px;
	margin: 0 auto;
	width: 100%;
	padding: 0 15px;
	@include r(1280) {
		padding: 0 60px;
	}
}

a[href*="tel"] {
	text-decoration: none;
	color: inherit;
	white-space: nowrap;
}

.link-invert {
	color: #fff;
	font-weight: 500;
	text-decoration: none;
	transition: all 0.3s;
	&:hover {
		color: #fff;
		text-decoration: underline;
	}
}

.iconsvg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
	vertical-align: middle;
}

.header_news_line {
	background: $c-main url("@/img/bg/bg-news-line.jpg") no-repeat center /
		cover;
	color: #fff;
	padding: rem(16) 0;
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__txt {
		font-size: 13px;
		@include r(md) {
			font-size: 16px;
		}
	}
	&__link {
		font-size: 12px;
		margin-left: rem(40);
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	margin: $lg 0 2 * $lg 0;
	&__contacts {
		display: flex;
		&--addr {
			@include rmax(lg) {
				display: none;
			}
		}
	}
	.contact:not(:first-child) {
		margin-left: $lg;
	}
}

.logo {
	margin: 0;
	flex: 0 0 250px;
	color: $c-main;
	line-height: 1.2;
	text-decoration: none;
	transition: all 0.3s;
	span {
		display: block;
	}
	&--header {
		font-size: 20px;
		margin-right: auto;
	}
}

.section {
	@include adaptiv("margin-bottom", 100, 60, 1);
	&--bg {
		@include adaptiv("padding", 100, 15, 1);
		background-color: $c-light;
	}
	&--dark {
		background-color: $c-main;
		color: #fff;
	}
}

.title {
	font-family: $f-title;
	font-weight: normal;
}

.title-section {
	margin: 0;
	font-size: 40px;
	font-family: $f-title;
	line-height: 1.2;
	font-weight: 400;
	max-width: 650px;
	// margin-bottom: ;
	@include rmax(md) {
		font-size: 24px;
	}
	&--long {
		max-width: 900px;
	}
}

.ico {
	&--round {
		position: relative;
		border-radius: 50%;
		width: 1em;
		height: 1em;
		padding: 0.75em;
		color: $c-main;
		background-color: $c-light;
		.iconsvg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.light-txt {
	color: $c-ltxt;
}

.title-link {
	display: flex;
	align-items: flex-end;
	margin-bottom: 2 * $lg;
}

.more {
	color: $c-txt;
	text-decoration: none;
	font-weight: 500;
	&--desktop {
		margin-left: auto;
		margin-bottom: 0.25em;
	}
}

.tarif {
	background: $c-main url("@/img/bg/bg__tarif.png") no-repeat left center;
}
.tarif-list {
	display: grid;
	gap: $lg;
	@include r(lg) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.catalog-mini {
	&__cards {
		margin-top: 50px;
		display: grid;
		@include r(sm) {
			grid-template-columns: repeat(2, 1fr);
		}
		@include r(lg) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

.configurator {
	background: $c-light url("@/img/bg/bg-configurator.png") no-repeat left top /
		cover;
	&__wrap {
		max-width: 600px;
	}
	&__txt {
		margin: 1.75em 0 0;
		font-size: 18px;
	}
	&__link {
		margin-top: 50px;
		.btn {
			width: 320px;
		}
	}
}

.article-list {
	display: grid;
	gap: $lg;
	grid-template-columns: repeat(4, 1fr);
}

.religions {
	background: $c-light url("@/img/bg/bg_right.png") no-repeat right top;
}
.religions-list {
	display: grid;
	gap: $lg;
	grid-template-columns: repeat(2, 1fr);
}

.footer-about {
	display: flex;
	align-items: center;
	padding-bottom: $lg;
	gap: $lg;
	border-bottom: 1px solid $c-light;
	&__right {
		display: flex;
		gap: $lg;
		margin-left: auto;
	}
	&__copy {
		@include rmax(lg) {
			display: none;
		}
	}
}

.footer-link {
	padding: $lg 0;
	@include r(lg) {
		padding: 2 * $lg 0 3 * $lg;
		display: flex;
		gap: $lg;
	}
	&__contact {
		display: flex;
		flex-direction: column;
		gap: $lg;
		margin-bottom: $lg;
		@include r(lg) {
			margin-left: auto;
			order: 2;
		}
	}
}

.footer-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	gap: $lg;
	@include r(xs) {
		grid-template-columns: repeat(2, 1fr);
	}
	@include r(md) {
		grid-template-columns: repeat(3, 1fr);
	}
	&__title {
		& > .footer-nav__link {
			font-family: $f-title;
			font-size: 22px;
			margin-bottom: 1em;
		}
	}
	&__link {
		display: inline-block;
		text-decoration: none;
		color: $c-txt;
	}
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		& > .footer-nav__item:not(:last-child) {
			margin-bottom: 0.5em;
		}
	}
}
