.article {
  P {
    margin-top: 0;
  }

  &__item {
    &:not(:first-child) {
      margin-top: calc(2* $lg);
    }
  }

  &__item-cnt {
    @include r(md) {
      columns: 2;
      column-gap: calc(2 * $lg);
    }

    hr {
      display: block;
      height: 0;
      border: none;
      break-after: column;
    }
  }
  &--limited {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      bottom: -20px;
      left: -20px;
      right: -20px;
      height: 500px;
      background: linear-gradient(0deg, rgba(#FFF, 1) 0%, rgba(#FFF, 0) 100%);
      z-index: 1;
    }
  }
}

.article ul {
  margin: 0 0 1em;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    padding-left: 1.5em;
    margin: .5em 0;

    &:before {
      content: "";
      position: absolute;
      width: 1em;
      height: 1em;
      left: 0;
      top: 0.1em;
      background: url("@/img/bullet.svg") no-repeat center /contain;
    }
  }
}

.button-article-more {
  display: none
}

.article--limited {
  position: relative;
  max-height: 1100px;
  overflow: hidden;

  .button-article-more {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}

