.article {
  P {
    margin-top: 0;
  }
  h2,h3 {
    font-family: $f-title;
    font-size: 24px;
    font-weight: 400;
    &:not(:first-child) {
      margin-top: 2em;
    }
    @include r(md) {
      font-size: 32px;
    }
  }
  ol {
    counter-reset: list;
    list-style-type: none;
    padding: 0;
    li {
      position: relative;
      counter-increment: list;
      padding-left: 2.5em;
      margin: 1em 0;
      &:before {
        content: counter(list);
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5em;
        color: #fff;
        background-color: $c-main;
        border-radius: 50%;
        text-align: center;
      }

    }
  }

  &--limit {
    max-width: 940px;
  }

  &__item {
    &:not(:first-child) {
      margin-top: calc(2* $lg);
    }
  }

  &__item-cnt {
    @include r(md) {
      columns: 2;
      column-gap: calc(2 * $lg);
    }

    hr {
      display: block;
      height: 0;
      border: none;
      break-after: column;
    }
  }
  &--limited {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      bottom: -20px;
      left: -20px;
      right: -20px;
      height: 500px;
      background: linear-gradient(0deg, rgba(#FFF, 1) 0%, rgba(#FFF, 0) 100%);
      z-index: 1;
    }
  }
}

.article ul {
  margin: 0 0 1em;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    padding-left: 1.5em;
    margin: .5em 0;

    &:before {
      content: "";
      position: absolute;
      width: 1em;
      height: 1em;
      left: 0;
      top: 0.1em;
      background: url("@/img/bullet.svg") no-repeat center /contain;
    }
  }
}

.button-article-more {
  display: none
}

.article--limited {
  position: relative;
  max-height: 1100px;
  overflow: hidden;

  .button-article-more {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}

.help {
  display: flex;
  gap: 1em;
  align-items: center;
  .ico--round {
    font-size: 26px;
  }
  @include rmax(340) {
    flex-direction: column;
  }
}

.page-intro-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-intro-img {
  display: none;
  @include r(md) {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(40% - $lg);
    height: calc(100% + $lg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @include r(xl) {
    width: calc(60% - $lg);
  }
}

.page-intro {
  max-width: 500px;
  margin: calc(2*$lg) 0;
  @include r(md) {
    width: 40%;
  }
  @include r(xl) {
    margin: calc(4*$lg) 0;
  }
  &__cnt {
    margin-bottom: $lg;
  }
}

.author {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 1em;
  &__img {
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__cnt {}

  &__name {
    font-size: 16px;
  }
}

.article-header {
  margin-bottom: $lg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__data {
    text-transform: uppercase;
    line-height: 1;
    font-size: 14px;
  }
  &__rubric{
    padding-right: .5em;
    border-right: 1px solid;
    margin-right: .5em;
  }
}

.article-srv-card {
  padding: $lg;
  margin-bottom: $lg;
  background: $c-light url('@/img/bg/bg_benefits.png') no-repeat right top;
  .service-card {
    padding: 0;
  }
}
.article-gallery {
  padding: $lg;
  margin-bottom: $lg;
  border: 1px solid $c-light-b;
  display: grid;
  gap: $lg;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cost-info {
  padding: $lg;
  background: $c-light url('@/img/bg/bg_benefits.png') no-repeat right top;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  &__title {
    font-family: $f-title;
    font-size: 22px;
    line-height: 1.2;
    max-width: 600px;
    @include r(md) {
      font-size: 32px;
    }
  }
  &__footer {
    font-weight: 500;
  }
  .ico--round {
    background-color: $c-main;
    color: #fff;
  }
}

.article-img {
  position: relative;
  padding-top: calc(10*$lg);
  margin-bottom: $lg;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(#000, .4);
    top: 0;
    left: 0;
    z-index: 1;
  }
  img {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.article-toc {
  padding: $lg;
  background: $c-light url('@/img/bg/bg_benefits.png') no-repeat right top;
  &__list {
    @include r(md) {
      columns: 350px 2;
    }
  }

  &__item {
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.article-religion-cards {
  display: grid;
  gap: $lg;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  &__item {
    background-color: $c-light;
    padding: $lg;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    font-size: 22px;
    font-family: $f-title;
    margin-bottom: 1em;
  }

  &__ico {}

  &__cnt {
    font-size: 18px;
    padding-left: 1.5em;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1em;
      height: 1em;
      background: url('@/img/bullet.svg') no-repeat;
      background-size: cover;
    }
  }
}
