.article-wrap {
  display: grid;
  gap: $lg;
  @include r(xxl) {
    grid-template-columns: 350px 1fr;
  }
}

.article-aside {
  @include rmax(xxl) {
    display: none;
  }
}

.mob-aside:not(:empty) {
  margin-bottom: $lg;
}

.article {
  P {
    margin-top: 0;
  }
  h2 {
    font-family: $f-title;
    font-size: 24px;
    font-weight: 400;
    &:not(:first-child) {
      margin-top: 2em;
    }
    @include r(md) {
      font-size: 32px;
    }
  }
  h3 {
    font-size: 22px;
    font-weight: 500;
    margin: 2em 0 .5em;
  }
  ol {
    counter-reset: list;
    list-style-type: none;
    padding: 0;
    li {
      position: relative;
      counter-increment: list;
      padding-left: 2.5em;
      margin: 1em 0;
      &:before {
        content: counter(list);
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5em;
        color: #fff;
        background-color: $c-main;
        border-radius: 50%;
        text-align: center;
      }

    }
  }

  &--limit {
    max-width: 940px;
  }

  &__item {
    &:not(:first-child) {
      margin-top: calc(2* $lg);
    }
  }

  &__item-cnt {
    @include r(md) {
      columns: 2;
      column-gap: calc(2 * $lg);
    }

    hr {
      display: block;
      height: 0;
      border: none;
      break-after: column;
    }
  }
  &--limited {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      bottom: -20px;
      left: -20px;
      right: -20px;
      height: 500px;
      background: linear-gradient(0deg, rgba(#FFF, 1) 0%, rgba(#FFF, 0) 100%);
      z-index: 1;
    }
  }
}

.article-list {
  display: grid;
  gap: $lg;
  @include r(md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include r(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
  &__footer {
    display: flex;
    align-items: center;
    grid-column: 1/-1;
    gap: $lg;
    @include rmax(md) {
      flex-direction: column;
      align-items: flex-start;
      .pagination {
        order: -1;
      }
    }
  }
  &__pagination.pagination {
    @include r(md) {
      margin-left: auto;
    }
  }

}

.religions {
  background: $c-light url("@/img/bg/bg_right.png") no-repeat right top;
}

.religions-list {
  display: grid;
  gap: $lg;

  @include r(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.article ul {
  margin: 0 0 1em;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    padding: 0 0 0 1.5em;
    margin: .5em 0;

    &:before {
      content: "";
      position: absolute;
      width: 1em;
      height: 1em;
      left: 0;
      top: 0.1em;
      background: url("@/img/bullet.svg") no-repeat center /contain;
    }
  }
}

.button-article-more {
  display: none
}

.article--limited {
  position: relative;
  max-height: 1100px;
  overflow: hidden;

  .button-article-more {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}

.help {
  display: flex;
  gap: 1em;
  align-items: center;
  .ico--round {
    font-size: 26px;
  }
  @include rmax(340) {
    flex-direction: column;
  }
}

.page-intro-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-intro-img {
  display: none;
  @include r(md) {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(40% - $lg);
    height: calc(100% + $lg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @include r(xl) {
    width: calc(60% - $lg);
  }
}

.page-intro {
  max-width: 500px;
  margin: calc(2*$lg) 0;
  @include r(md) {
    width: 40%;
  }
  @include r(xl) {
    margin: calc(4*$lg) 0;
  }
  &__cnt {
    margin-bottom: $lg;
  }
}

.author {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 1em;
  &__img {
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__cnt {}

  &__name {
    font-size: 16px;
  }
}

.article-header {
  margin-bottom: $lg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__data {
    text-transform: uppercase;
    line-height: 1;
    font-size: 14px;
  }
  &__rubric{
    padding-right: .5em;
    border-right: 1px solid;
    margin-right: .5em;
  }
}

.article-srv-card {
  padding: $lg;
  margin-bottom: $lg;
  background: $c-light url('@/img/bg/bg_benefits.png') no-repeat right top;
  .service-card {
    padding: 0;
  }
}
.article-gallery {
  padding: $lg;
  margin-bottom: $lg;
  border: 1px solid $c-light-b;
  display: grid;
  gap: $lg;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cost-info {
  padding: $lg;
  background: $c-light url('@/img/bg/bg_benefits.png') no-repeat right top;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  &__title {
    font-family: $f-title;
    font-size: 22px;
    line-height: 1.2;
    max-width: 600px;
    @include r(md) {
      font-size: 32px;
    }
  }
  &__footer {
    font-weight: 500;
  }
  .ico--round {
    background-color: $c-main;
    color: #fff;
  }
}

.article-img {
  position: relative;
  padding-top: calc(10*$lg);
  margin-bottom: $lg;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(#000, .4);
    top: 0;
    left: 0;
    z-index: 1;
  }
  img {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.article-toc {
  padding: $lg;
  margin-bottom: $lg;
  background: $c-light url('@/img/bg/bg_benefits.png') no-repeat right top;
  &__list {
    max-width: 850px;
    @include r(md) {
      columns: 350px 2;
    }
  }

  &__item {
    padding: 1em 0;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.article-religion-cards {
  display: grid;
  gap: $lg;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  &__item {
    background-color: $c-light;
    padding: $lg;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    font-size: 22px;
    font-family: $f-title;
    margin-bottom: 1em;
  }

  &__ico {}

  &__cnt {
    font-size: 18px;
    padding-left: 1.5em;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1em;
      height: 1em;
      background: url('@/img/bullet.svg') no-repeat;
      background-size: cover;
    }
  }
}

.article-info {
  background-color: $c-light;
  margin: calc(2*$lg) 0;
  padding: $lg;
  font-size: 18px;
  display: flex;
  gap: $lg;
  align-items: center;
  @include rmax(xs) {
    flex-direction: column;
    align-items: flex-start;
  }

  .ico--round {
    margin-right: calc(.5 * $lg);
    background-color: $c-light-b;
  }
  a {
    color: $c-main;
  }
}


.article-card {
  padding: $lg;
  border: 1px solid $c-light-b;
  margin-top: calc(2*$lg);
  display: flex;
  position: relative;
  gap: $lg;
  align-items: center;
  @include rmax(md) {
    flex-direction: column;
    align-items: flex-start;
    .article-card__link {
      position: absolute;
      top: $lg;
      right: $lg;
    }
  }
  &__cnt {
    flex: 1 0;
  }

  &__title {
    font-size: 22px;
    font-family: $f-title;
    margin-bottom: .5em;
  }

  &__txt {}

  &__price {
    white-space: nowrap;
  }

  &__price-info {}

  &__price-price {
    font-weight: 500;
    font-size: 18px;
  }
  &__link {
    color: #fff;
    background-color: $c-main;
    &:hover {
      color: $c-txt;
      background-color: $c-light-b;
    }
  }
}

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  &__item {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 50%;
    &.active {
      border-color: $c-main;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: $c-main;
    }
  }
}

.side-img {
  display: grid;
  gap: calc(2 * $lg);

  @include r(lg) {
    grid-template-columns: 40% 1fr;
    background-position: 100% 0;
  }

  &__cnt {
    background: url("@/img/bg/bg_benefits.png") no-repeat top right;
    background-size: contain;
  }

  &__img {
    position: relative;
    min-height: 700px;
    height: 100%;
    @include rmax(lg) {
      max-width: 350px;
      width: 100%;
      min-height: 400px;
      // height: 400px;
      margin: auto;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {}
}

.free-funeral {
  &__help {
    margin-top: calc(2*$lg);
  }
  .side-img__cnt {
    background: url('@/img/bg/bg_bottom_left.png') no-repeat left bottom;
  }
}

.article-tarif-card {
  padding: $lg;
  background: $c-main url('@/img/bg/bg_benefits.png') no-repeat top right;
  margin-bottom: $lg;
  .service-card__cnt {
    margin-top: $lg;
    max-width: 600px;
  }
}

.article .article-list-prod {
  &__item {
    display: grid;
    gap: $lg;
    padding: 1em;
    border: 1px solid $c-light-b;
    font-size: 18px;
    align-items: center;
    margin-top: -1px;
    @include r(xs) {
      text-align: left;
      grid-template-columns: 120px 1fr;
    }
    @include r(sm) {
      grid-template-columns: 120px 3fr 1fr 1fr;
    }
  }
  &__img {
    max-width: 120px;
  }
  &__title {
    font-family: $f-txt;
    margin: 0 !important;
    font-size: inherit;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
    &:hover {
      color: $c-main;
    }
  }

  &__price {
    font-weight: 500;
  }

  &__link {
    font-weight: 500;
    text-decoration: none;
    color: inherit;
    &:hover {
      color: $c-main;
    }

  }
}

.benefits-about {
  background: url('@/img/bg/bg_benefits.png') top right no-repeat;
  .benefits-list {
    max-width: 900px;
  }
}

.article-about {
  background: $c-light url('@/img/bg/bg_benefits.png') top right no-repeat;
  p {
    max-width: 900px;
  }
  &__img {
    margin-top: calc(2*$lg);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.article-lead {
  display: grid;
  gap: $lg;
  @include r(md) {
    gap: calc(2*$lg);
    grid-template-columns: minmax(350px, 700px) 320px;
  }
  &__lead {
    max-width: 50vw;
    position: relative;
    @include r(md) {
      .benefit {
        position: absolute;
        max-width: 100%;
      }
    }
  }
}

.contacts-cnt {
  font-weight: 500;
  font-size: 22px;
  & + .light-txt {
    margin-top: 1em;
  }
}

.contacts {
  display: grid;
  gap: $lg;
  @include r(sm) {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  &__item {}

  &__tel {
    font-size: 32px;
    font-weight: bold;
  }

  &__mail {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    margin-top: 1em;
  }

}

.rate {
  &__title {
    font-size: 40px;
    font-family: $f-title;
    color: $c-main;
    margin-bottom: .5em;
  }

  &__rating {
    display: flex;
    flex-wrap: wrap;
    .rating {
      margin-right: 1em;
    }
  }
}

.reviews-banner {
  display: grid;
  gap: $lg;
  justify-items: center;
  background: #eceef2 url('@/img/bg/bg_form_call.png') no-repeat bottom;
  @include r(md) {
    justify-items: start;
    grid-template-columns: 1fr fit-content(50%);
  }
  &__aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $lg;
    font-weight: 500;
    align-items: center;
  }
}

.sort-abc {
  background: #eceef2 url('@/img/bg/bg_form_call.png') no-repeat bottom;
  padding: calc(2*$lg);
  &__title {
    font-size: 32px;
    font-family: $f-title;
    margin-bottom: .5em;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    text-align: center;
    margin-right: .5em;
    &.active {
      background-color: $c-main;
      .sort-abc__letter {
        color: #fff;
      }
    }
  }
  &__letter {
    display: block;
    text-decoration: none;
    color: inherit;
    line-height: 2em;
    font-weight: 500;
  }
}

.sort-letter {
  margin: 0 0 1em;
  font-size: 40px;
  font-family: $f-title;
  padding-bottom: .25em;
  border-bottom: 1px solid $c-light-b;
}

.morgue-cards {
  @include r(md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include r(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
  &:not(:last-child) {
    margin-bottom: $lg;
  }
  .service-card {
    border: 1px solid $c-light-b;
  }
  .service-card__cnt {
    margin-top: 0;
    margin-bottom: $lg;
  }
  .contact {
    display: flex;
    margin-top: 1em;
  }
  .contact__txt {
    font-size: 16px;
    font-weight: normal;
  }
  .service-card__map-link {
    margin-top: auto;
    text-decoration: none;
    font-weight: 500;
    color: inherit;
    &:hover {
      color: $c-main;
    }
  }

}

.graveyard-status {
  margin-bottom: $lg;
  display: flex;
  gap: 1em;
  align-items: center;
  &__label {
    color: $c-main;
    padding: .5em 1em;
    background-color: $c-light;
    border-radius: 50px;
  }
}

.article-contacts {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
  .contact {
    align-items: start;
  }
  .contact__ico {
    margin-top: -0.25em;
  }
  .contact__txt {
    font-weight: 400;
  }
}
