

.benefits-list {
	display: grid;
	gap: calc(2*$lg) $lg;
	grid-template-columns: repeat(2, 1fr);
	@include r(lg) {
		&:not(:first-child) {
      margin-top: calc(2 * $lg);
    }
		gap: $lg;
	}
  &--article {
    grid-template-columns: repeat(auto-fit, minmax(2, 1fr));
    gap: $lg;
    margin-top: $lg !important;
    @include r(lg) {
      grid-template-columns: repeat(4, 1fr)
    }
    .benefit .benefit__title {
      font: $f-base;
      margin: 1em 0 0;
      font-weight: 500;
      font-size: 22px;
      @include rmax(xxl) {
        font-size: 16px;
      }
    }
  }
  &--line {
    @include r(xl) {
      grid-template-columns: repeat(4, 1fr)
    }
  }
}
.benefit {
	&__ico {
		font-size: 36px;
    line-height: 0;
		color: $c-main;
    @include r(sm) {
      font-size: 46px;
    }
	}
	&__title {
		margin-top: 1.5em;
		font-weight: 500;
		font-size: 22px;
		@include rmax(sm) {
			font-size: 16px;
		}
	}
	&__txt {
		margin-top: 1em;
		@include rmax(sm) {
			display: none;
		}
	}
}
