.service-cards {
	margin-top: 2 * $lg;
	display: grid;
	gap: $lg;
	@include r(xxl) {
		grid-template-columns: repeat(4, 1fr);
		&--index .service-card:nth-child(3),
		&--index .service-card:nth-child(4) {
			grid-column: span 2;
		}
	}
}
.service-card {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	padding: $lg;
	text-decoration: none;
	color: inherit;
	&:hover {
		color: $c-txt;
		.service-card__ico {
			background-color: $c-main;
			color: #fff;
		}
	}

	&__ico {
		font-size: 40px;
		padding: 1em;
		color: $c-main;
		transition: all 0.3s;
	}
	&__cnt {
		margin-top: auto;
		max-width: 500px;
	}
	&__title {
		margin: 32px 0 0;
		font-family: $f-title;
		font-size: 22px;
		font-weight: 400;
	}
	&__txt {
		margin: 1em 0 0;
	}
	&__footer {
		margin-top: 1em;
	}
}

.catalog-mini {
	&__cards {
		margin-top: 50px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}
.card {
	display: block;
	margin: -1px 0 0 -1px;
	border: 1px solid #e1e5f1;
	text-decoration: none;
	color: $c-txt;
	padding: $lg;
	transition: all 0.3s;
	position: relative;
	&:hover {
		color: $c-txt;
		border-color: $c-main;
		z-index: 1;
	}
	&__img {
		position: relative;
		height: 240px;
		margin: (-$lg) (-$lg) 20px (-$lg);
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__rating {
		font-size: 18px;
		margin-bottom: 32px;
		span {
			background-image: url("@/img/star-blue.svg");
		}
	}
	&__title {
		font: 400 22px $f-title;
		margin: 0 0 16px;
	}
	&__desc {
		margin: 0 0 16px;
	}
	&__price {
		margin-top: 32px;
		font: 400 22px $f-title;
	}
}
