.service-cards {
	display: grid;
	gap: $lg;
}

.service-card {
	display: flex;
	flex-direction: column;
	text-decoration: none;

	&--service {
		background-color: #fff;
		padding: $lg;
		color: inherit;
		&:hover {
			color: $c-txt;
			.service-card__ico {
				background-color: $c-main;
				color: #fff;
			}
		}
		.service-card__ico {
			color: $c-main;
			background-color: #e1e5f1;
		}
	}

	&--tarif {
		color: #fff;
		&:hover {
			color: #fff;
			.service-card__ico {
				color: #fff;
			}
			.service-card__arrow {
				border-color: #fff;
			}
		}
		.service-card__ico {
			color: #fff;
			background-color: $c-dark;
		}
		.service-card__arrow {
			font-size: 28px;
			position: relative;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			border: 1px solid transparent;
			margin-left: -20px;
			transition: all 0.3s;
			.iconsvg {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	&__ico {
		font-size: 40px;
		padding: 1em;
		transition: all 0.3s;
		@include rmax(sm) {
			font-size: 32px;
		}
	}
	&__cnt {
		margin-top: auto;
		max-width: 500px;
	}
	&__title {
		margin: 32px 0 0;
		font-family: $f-title;
		font-size: 22px;
		font-weight: 400;
		@include rmax(sm) {
			font-size: 18px;
		}
	}
	&__txt {
		margin: 1em 0 0;
		@include rmax(sm) {
			display: none;
		}
	}
	&__footer {
		margin-top: 1em;
	}
}

.service-cards--index {
	margin-top: $lg;
	@include r(sm) {
		margin-top: calc(2 * $lg);
	}
	@include r(xs) {
		grid-template-columns: repeat(2, 1fr);
	}
	@include r(xxl) {
		grid-template-columns: repeat(4, 1fr);
		.service-card:nth-child(3),
		.service-card:nth-child(4) {
			grid-column: span 2;
		}
	}
}

.cart-img {
	color: #fff;
	text-decoration: none;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: $lg;
	z-index: 1;
	@include adaptiv("min-height", 500, 250, 1);
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(#000, 0.5);
		z-index: -1;
		transition: background 0.3s;
	}
	&:hover {
		color: #fff;
		&:before {
			background-color: rgba($c-main, 0.5);
		}
		.cart-img__link {
			background-color: $c-main;
		}
	}
	&--article {
	}
	&--religions {
		.cart-img__title {
			font-size: 32px;
      @include rmax(sm) {
        font-size: 22px;
      }
		}
    .cart-img__desc {
      display: block;
    }
	}
	&__img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -2;
	}
	&__link {
		border-radius: 50%;
		width: 80px;
		height: 80px;
		background-color: $c-light;
		position: relative;
		font-size: 28px;
		color: $c-txt;
		transition: all 0.3s;
		margin-bottom: $lg;
		@include rmax(sm) {
			font-size: 22px;
			width: 60px;
			height: 60px;
		}
		.arrow-left {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__data {
		padding-right: 0.5em;
		border-right: 1px solid;
	}
	&__rubric {
		margin-left: 0.3em;
	}
	&__cnt {
		margin-top: auto;
	}
	&__info {
		margin-bottom: 1em;
		font-size: 14px;
		text-transform: uppercase;
		color: $c-ltxt;
	}
	&__desc {
		margin: 1em 0 0;
		@include rmax(sm) {
			display: none;
		}
	}
	&__title {
		font: 400 22px/1.2 $f-title;
		@include rmax(sm) {
			font-size: 22px;
		}
	}
}

.card {
	display: block;
	margin: -1px 0 0 -1px;
	border: 1px solid #e1e5f1;
	text-decoration: none;
	color: $c-txt;
	padding: $lg;
	transition: all 0.3s;
	position: relative;
	&:hover {
		color: $c-txt;
		border-color: $c-main;
		z-index: 1;
    .card__count {
      color: $c-main;
    }
	}
	&__img {
    display: block;
    color: inherit;
		position: relative;
    text-decoration: none;
		height: 240px;
		margin: calc($lg * -1) calc($lg * -1) 20px calc($lg * -1);
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
  &__count {
    position: absolute;
    z-index: 1;
    left: $lg;
    top: $lg;
    background-color: $c-light-b;
    padding: 0.5em 1.5em;
    border-radius: 50px;
    color: $c-ltxt;
    font-size: 14px;
  }
	&__rating {
		font-size: 18px;
		margin-bottom: 32px;
		span {
			background-image: url("@/img/star-blue.svg");
		}
	}
	&__title {
		font: 400 22px $f-title;
		margin: 0 0 16px;
    display: block;
    color: inherit;
    text-decoration: none;
	}
	&__desc {
		margin: 0 0 16px;
	}
	&__price {
		margin-top: 32px;
		font: 400 22px $f-title;
	}
  &__sub {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__sub-item {}
  &__sub-link {
    color: $c-ltxt;
    text-decoration: none;
    &:hover {
      color: $c-txt;
    }
  }
}
