$breakpoints: (
	"xs": 480px,
	"sm": 540px,
	"md": 767px,
	"lg": 992px,
	"xl": 1024px,
	"xxl": 1400px,
) !default;

:root {
	--lg: 2.25rem;
}

$f-base: 16px/1.4 "Jost", sans-serif;
$f-title: "Prata", serif;
$f-txt: "Jost", sans-serif;
$f-color: #555;

$l-g: 15px;
$lg: var(--lg);

@include rmax(lg) {
	:root {
		--lg: 1.5rem;
	}
}

$c-main: #6682d4;
$c-sec: #8ba434;
$c-light: #eceef2;
$c-light-b: #E1E5F1;
$c-dark: #5d78ca;
$c-txt: #2f2c26;
$c-ltxt: #9ba1b3;
$c-link: $c-main;

$hc-offcanvas-nav-background-color: #fff;
$hc-offcanvas-nav-text-color: #18214d;
$hc-offcanvas-nav-text-size: 16px;
