{% extends "./parthtml/base.html" %}
{% block content %}

<div class="container">
  <div class="article-wrap section">
    <div class="article-aside">
      <div class="aside-nav">
        <div class="aside-nav__title">Компания</div>
        <ul class="aside-nav__list">
          <li class="aside-nav__item active"><a href="" class="aside-nav__link">О компании</a></li>
          <li class="aside-nav__item"><a href="" class="aside-nav__link">Вопросы и ответы</a></li>
          <li class="aside-nav__item"><a href="" class="aside-nav__link">Отзывы о нас</a></li>
          <li class="aside-nav__item"><a href="" class="aside-nav__link">Документы</a></li>
          <li class="aside-nav__item"><a href="" class="aside-nav__link">Адреса моргов</a></li>
          <li class="aside-nav__item"><a href="" class="aside-nav__link">Адреса кладбищ</a></li>
        </ul>
      </div>
    </div>

    <main class="article-main">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">Главная</a>
        </li>
        <li class="breadcrumbs__item">
          <span class="breadcrumbs__link">О нас</span>
        </li>
      </ul>
      <div class="section benefits-about">
          <h2 class="title-section">Мы понимаем, что смерть дорогого человека – сложное эмоциональное потрясение</h2>
            <!-- copy from  benefits.html-->
          <div class="benefits-list">
            <div class="benefit">
              <div class="benefit__ico ico">
                {{ macro.iconSvg('prayer') }}
              </div>
              <h3 class="benefit__title">Индивидуальный подход</h3>
              <div class="benefit__txt">Мы понимаем, что смерть дорогого человека – сложное эмоциональное потрясение,
                поэтому
                обеспечиваем все условия для того, чтобы семья покойного не заботилась ни о каких вопросах по организации
                прощальной церемонии</div>
            </div>
            <div class="benefit">
              <div class="benefit__ico ico">
                {{ macro.iconSvg('dove') }}
              </div>
              <h3 class="benefit__title">15-летний опыт организации похорон</h3>
              <div class="benefit__txt">Уже на протяжении 15 лет мы организуем прощальные церемонии. У нас есть надежные
                подрядчики, квалифицированный персонал, современная техника. Мы работаем профессионально, оперативно, с
                заботой о
                людях, которым пришлось понести горечь утраты</div>
            </div>
            <div class="benefit">
              <div class="benefit__ico ico">
                {{ macro.iconSvg('wreath') }}
              </div>
              <h3 class="benefit__title">Большой выбор ритуальных атрибутов</h3>
              <div class="benefit__txt">Мы сотрудничаем со многими подрядчиками, которые обеспечивают наши мероприятия
                элементами
                оформления и ритуальными принадлежностями</div>
            </div>
            <div class="benefit">
              <div class="benefit__ico ico">
                {{ macro.iconSvg('ruble') }}
              </div>
              <h3 class="benefit__title">Демократичная стоимость услуг</h3>
              <div class="benefit__txt">Цена зависит от пакета услуг – у нас есть предложения от «эконом» до «премиум».
                Предварительную стоимость вы можете узнать на нашем сайте или по контактному телефону</div>
            </div>
          </div>
            <!-- copy from  benefits.html-->
      </div>

      <div class="article-about section section--bg">
        <div class="btn btn--title">Наши услуги</div>
        <h1 class="title-section title-section--long">Ритуальная служба города Санкт-Петербург и Ленинградской области</h1>
        <p>Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными профессионалами и грамотной
        организации церемонии прощания. Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными
        профессионалами Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными профессионалами и
        грамотной организации церемонии прощания. Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с
        тактичными профессионалами</p>
        <ul class="inner-nav">
          <li class="inner-nav__item">
            <a href="#" class="inner-nav__link">Все услуги</a>
          </li>
          <li class="inner-nav__item">
            <a href="#" class="inner-nav__link">Тарифы на похороны</a>
          </li>
        </ul>
        <div class="article-about__img">
          <img src="@/img/content/about_image.jpg" alt="">
        </div>
      </div>

      <div class="article section">
        <h2 class="title-section">Что мы гарантируем?</h2>
        <div class="article-lead">
          <div class="article-lead__wrap">
            <p>Медицинское свидетельство о смерти выдаётся родственникам или законным представителям в морге в установленные
            законодательством РФ сроки на безвозмездной основе. Имейте в виду, что работники морга не вправе требовать с Вас деньги
            за оформление медицинского свидетельства!</p>

            <p>Гербовое свидетельство выдается в ЗАГСе представителю усопшего. При этом Вам нужно предъявить свой собственный паспорт и
            паспорт умершего, а также медицинское свидетельство о смерти. Имейте в виду, что работники морга не вправе требовать с
            Вас деньги за оформление медицинского свидетельства! Медицинское свидетельство о смерти выдаётся родственникам или
            законным представителям в морге в установленные законодательством РФ сроки на безвозмездной основе. Медицинское
            свидетельство о смерти выдаётся родственникам или законным представителям в морге в установленные законодательством РФ
            сроки на безвозмездной основе. Имейте в виду, что работники морга не вправе требовать с Вас деньги за оформление
            медицинского свидетельства!</p>
          </div>
          <div class="article-lead__lead">
            <div class="benefit">
              <div class="benefit__ico ico">
                {{ macro.iconSvg('prayer') }}
              </div>
              <div class="benefit__title">Высокий уровень предоставляемого сервиса</div>
            </div>
          </div>
        </div>
      </div>

      <div class="article section--bg">
        <h2 class="title-section">Как я могу оплатить заказ?</h2>
        <div class="article-lead">
          <div class="article-lead__wrap">
            <p>Вы можете оплатить заказ любым удобным вам способом:</p>
            <ul>
              <li>В любом агентстве ПохоронныйДом за наличный и безналичный расчет.
              Онлайн</li>
              <li>Онлайн</li>
            </ul>
            <h2>Как я могу его получить?</h2>
            <p>Вы можете оплатить заказ любым удобным вам способом:</p>
            <ul>
              <li>Мы можем организовать доставку ритуальных принадлежностей на любой указанный вами адрес, но только если сумма заказа
              превышает 7 000 руб. Доставка оплачивается отдельно
              <li>
                Вы можете забрать заказ самостоятельно в одном из агентств в рабочее время, если выбранные вами товары имеются в
                наличии. Если товаров в наличии не окажется, то доставим их на следующий день, если заказ будет подтвержден до 13:00.
              </li>
              <li>Если заказ будет подтвержден после 13:00, то обещаем доставить товары через день</li>
            </ul>
            <h2>Сколько стоит доставка?</h2>
            <p>От 2000 руб. Стоимость доставки всегда рассчитывается индивидуально. С расчетом вам помогут наши специалисты.</p>
          </div>
          <div class="article-lead__lead">
            <div class="benefit">
              <div class="benefit__ico ico">
                {{ macro.iconSvg('coffin-2') }}
              </div>
              <div class="benefit__title">Мы сможем доставить гроб если у вас имеется гербовое свидетельство о смерти, выданное органами ЗАГСа</div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  {% include "parthtml/form-call.html" %}
</div>

{% endblock %}
