{% extends "./parthtml/base.html" %}
{% block content %}
<div class="container">
    <div class="article-wrap section">
      <div class="article-aside">
        <form action="" class="form-call form form--aside form--dark form--center" name="formservice">
          <div class="form__title">Заказать услугу</div>
          <p class="form__txt">Бесплатно консультируем 24/7. Подробно ответим на ваши вопросы и предложим подходящее решение</p>
          <div class="form-line">
            <input type="tel" placeholder="+7 (___) ___-__-__">
          </div>
          <div class="form-line">
            <button type="submit" class="btn">Заказать услугу</button>
          </div>
          <p class="form__footer">Оставляя заявку, вы даете согласие на обработку персональных данных</p>
        </form>
      </div>
      <main class="article-main">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Наши услуги</a>
          </li>
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__link">Православные похороны в СПБ</span>
          </li>
        </ul>

        <h1 class="title-section">Что делать в случае смерти близкого человека?</h1>

        <div class="article-header">
          <div class="author">
            <div class="author__img">
              <img src="@/img/content/author.jpg" alt="Александр Хваленко">
            </div>
            <div class="author__cnt">
              <div class="light-txt">Автор материала</div>
              <div class="author__name">Александр Хваленко</div>
            </div>
          </div>
          <div class="article-header__data">
            <span class="article-header__rubric light-txt">Услуги</span>
            <span class="light-txt">3 минуты на чтение</span>
          </div>
        </div>

        <div class="article-img">
          <img src="@/img/content/article_image.jpg" alt="">
        </div>

        <div class="article-toc article">
          <div class="article-toc__title title">Содержание</div>
          <ul class="article-toc__list">
            <li class="article-toc__item">
              <a href="#h1">План действий</a>
            </li>
            <li class="article-toc__item">
              <a href="#h2">Пакет документов</a>
            </li>
            <li class="article-toc__item">
              <a href="#h3">Организация похорон или кремации</a>
            </li>
            <li class="article-toc__item">
              <a href="#h4">Церемония прощания</a>
            </li>
          </ul>
        </div>

        <div class="article article--limit">
          <h2 id="h1">План действий</h2>
          <p>Ритуальный агент компании ПохоронныйДом.рф самостоятельно соберет необходимые справки и свидетельства!</p>
          <p>Необходимые шаги:</p>
          <ol>
            <li>Позвонить в ритуальное агентство ПохоронныйДом.рф и сообщить о факте смерти: +7 (812) 210-78-96</li>
            <li>Вызвать участкового врача или скорую помощь: 03 или 103 (с мобильного телефона)</li>
            <li>Вызвать полицию: 02 или 102 (с мобильного телефона). Сотрудник полиции должен зафиксировать факт естественной смерти
            дома</li>
            <li>Подготовить документы умершего – паспорт и медицинский полис. Ни в коем случае не передавайте эти документы посторонним
            лицам</li>
            <li>Не впускать в дом людей, которых не вызывали. У всех пришедших спрашивать удостоверение личности, чтобы снизить
            возможные риски общения с мошенниками</li>
          </ol>

          <h2 id="h2">Пакет документов</h2>
          <p>Ритуальный агент компании ПохоронныйДом.рф самостоятельно соберет необходимые справки и свидетельства!</p>
          <p>В необходимый пакет документов для организации погребения входят:</p>
          <ul>
            <li>Гербовое свидетельство о смерти</li>
            <li>Справка по форме 11 (выдаётся вместе с гербовым свидетельством в ЗАГСе)</li>
            <li>Паспорт заказчика</li>
            <li>В случае оформления кремации может понадобиться разрешение на кремацию, которое выдаёт следственный комитет</li>
          </ul>
          <p>Медицинское свидетельство о смерти выдаётся родственникам или законным представителям в морге в установленные законодательством РФ сроки на безвозмездной основе. Имейте в виду, что работники морга не вправе требовать с Вас деньги за оформление медицинского свидетельства!</p>
          <p>Гербовое свидетельство выдается в ЗАГСе представителю усопшего. При этом Вам нужно предъявить свой собственный паспорт и паспорт умершего, а также медицинское свидетельство о смерти.</p>

          <div class="article-info">
            <div class="ico ico--round">
              {{ macro.iconSvg('rose') }}
            </div>
            <div class="article-info__cnt">В случае смерти близкого позвоните в ритуальное наше агентство <a href="tel:+78122107896">+7 (812) 210-78-96</a>. Специалисты компании проконсультируют
            по вопросам организации захоронения или кремации в Санкт-Петербурге и Ленинградской области!</div>
          </div>

          <h2 id="h3">Как заказать организацию похорон?</h2>
          <p>Лаконичный гроб отечественного производства. Выполнен из древесно-волокнистой плиты, изготовленной под высоким давлением и температурой. Каштановый цвет изделия покрыт глянцевым лаком. Четыре классические ручки по бокам для транспортировки. Подходит для похорон людей любых конфессий.</p>
          <div class="article-religion-cards">
            <div class="article-religion-cards__item">
              <div class="article-religion-cards__title">
                Подготовка
                <div class="article-religion-cards__ico">
                  <img src="@/img/icon/religion-orthodoxy.svg" alt="">
                </div>
              </div>
              <div class="article-religion-cards__cnt">
                Тело накрывают саваном с вышитыми крестами, в руки покойного вкладывают иконку и крест, а на лоб кладут венчик. На теле
                обязательно должен быть крест.
              </div>
            </div>
            <div class="article-religion-cards__item">
              <div class="article-religion-cards__title">
                Обряд
                <div class="article-religion-cards__ico">
                  <img src="@/img/icon/religion-orthodoxy.svg" alt="">
                </div>
              </div>
              <div class="article-religion-cards__cnt">
                У изголовья гроба ставят стакан с водой или водкой, накрытый хлебом, банку с крупой и горящей свечкой, икону.
              </div>
            </div>
            <div class="article-religion-cards__item">
              <div class="article-religion-cards__title">
                Погребение
                <div class="article-religion-cards__ico">
                  <img src="@/img/icon/religion-orthodoxy.svg" alt="">
                </div>
              </div>
              <div class="article-religion-cards__cnt">
              Все дни от смерти до погребения заказывается панихида, а в день похорон проводят отпевание.
              </div>
            </div>
            <div class="article-religion-cards__item">
              <div class="article-religion-cards__title">
                Поминки
                <div class="article-religion-cards__ico">
                  <img src="@/img/icon/religion-orthodoxy.svg" alt="">
                </div>
              </div>
              <div class="article-religion-cards__cnt">
              Поминки проводятся в день похорон, на девятый и сороковой дни после смерти. На 9-й и 40-й дни можно просто раздать
              поминальные пакеты.
              </div>
            </div>
            <div class="article-religion-cards__item">
              <div class="article-religion-cards__title">
                Перенос гроба
                <div class="article-religion-cards__ico">
                  <img src="@/img/icon/religion-orthodoxy.svg" alt="">
                </div>
              </div>
              <div class="article-religion-cards__cnt">
              Перед процессией идет мужчина, несущий распятие в рушнике (можно использовать икону). За ним также несут крышку гроба, и
              только потом усопшего.
              </div>
            </div>
          </div>

          <h2 id="h4">Сколько стоит организация православных похорон</h2>
          <p>Цена на организацию зависит от выбранного комплекса услуг. В сумму входит закупка необходимых принадлежностей и
          транспортировка гроба до места захоронения. Мы подстраиваемся под ваш бюджет и предлагаем подходящее решение — такое,
          которое не отнимет много денег, но позволит достойно проводить в последний путь близкого вам человека. Вы можете
          заказать православные похороны, позвонив нам по указанному телефону.</p>

          <h2>Стоимость организации похорон</h2>
          {% include "parthtml/cost-info.html" %}
          <!-- end article -->
        </div>
      </main>
    </div>
<!-- end container -->

  {% include "parthtml/religions.html" %}
  {% include "parthtml/form-call-dark.html" %}
</div>

{% endblock %}
