{% extends "./parthtml/base.html" %}
{% block content %}
<div class="container">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a href="#" class="breadcrumbs__link">Главная</a>
    </li>
    <li class="breadcrumbs__item active">
      <span class="breadcrumbs__link">Ритуальные товары</span>
    </li>
  </ul>
  <div class="section-intro section-intro--title-line">
    <h1 class="title-section">Ритуальные товары</h1>
    <div class="title-section__cnt">
      <p>Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными профессионалами и грамотной
      организации церемонии прощания. Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными
      профессионалами и грамотной организации</p>
    </div>
    <div class="title-section__cnt">
      <p>Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными профессионалами и грамотной
      организации церемонии прощания. Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными
      профессионалами</p>
    </div>
  </div>
  <div class="section">
    <div class="catalog-mini__cards category">
      <div href="#" class="card">
        <a href="#" class="card__img">
          <span class="card__count">Более 20 товаров</span>
          <img src="@/img/content/category_image_01.jpg" alt="">
        </a>
        <a href="#" class="card__title">Гробы</a>
        <ul class="card__sub">
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Гробы обитые тканью</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Полированные гробы</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Комбинированные гробы</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Гробы итальянского производства</a>
          </li>
        </ul>
      </div>

      <div href="#" class="card">
        <a href="#" class="card__img">
          <span class="card__count">Более 12 товаров</span>
          <img src="@/img/content/category_image_02.jpg" alt="">
        </a>
        <a href="#" class="card__title">Венки и корзины</a>
        <ul class="card__sub">
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Траурные ленты</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Венки из искусственных цветов</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Венки из живых цветов</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Траурные корзины</a>
          </li>
        </ul>
      </div>

      <div href="#" class="card">
        <a href="#" class="card__img">
          <span class="card__count">Более 17 товаров</span>
          <img src="@/img/content/category_image_03.jpg" alt="">
        </a>
        <a href="#" class="card__title">Кресты на могилу</a>
        <ul class="card__sub">
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Металлические кресты на могилу</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Сосновые кресты на могилу</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Дубовые кресты на могилу</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Таблички на могилу</a>
          </li>
        </ul>
      </div>

      <div href="#" class="card">
        <a href="#" class="card__img">
          <span class="card__count">Более 6 товаров</span>
          <img src="@/img/content/category_image_04.jpg" alt="">
        </a>
        <a href="#" class="card__title">Комплексты в гроб</a>
        <ul class="card__sub">
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Постель в гроб</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Покрывала в гроб</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Подушки в гроб</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Постельные комплекты в гроб</a>
          </li>
        </ul>
      </div>

      <div href="#" class="card">
        <a href="#" class="card__img">
          <span class="card__count">Более 8 товаров</span>
          <img src="@/img/content/category_image_05.jpg" alt="">
        </a>
        <a href="#" class="card__title">Урны для праха</a>
        <ul class="card__sub">
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Урны из дуба</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Урны из фанеры</a>
          </li>
        </ul>
      </div>

      <div href="#" class="card">
        <a href="#" class="card__img">
          <span class="card__count">Более 8 товаров</span>
          <img src="@/img/content/category_image_06.jpg" alt="">
        </a>
        <a href="#" class="card__title">Ритуальные таблички</a>
        <ul class="card__sub">
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Металлические таблички</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Деревянные таблички</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Таблички из камня</a>
          </li>
        </ul>
      </div>

      <div href="#" class="card">
        <a href="#" class="card__img">
          <span class="card__count">Более 20 товаров</span>
          <img src="@/img/content/category_image_07.jpg" alt="">
        </a>
        <a href="#" class="card__title">Цветы искусственные</a>
        <ul class="card__sub">
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Цветы поштучно</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Цветочные композиции</a>
          </li>
        </ul>
      </div>

      <div href="#" class="card">
        <a href="#" class="card__img">
          <span class="card__count">Более 20 товаров</span>
          <img src="@/img/content/category_image_08.jpg" alt="">
        </a>
        <a href="#" class="card__title">Ритуальные ленты</a>
        <ul class="card__sub">
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Однотонные ленты</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Ленты с надписями</a>
          </li>
        </ul>
      </div>

      <div href="#" class="card">
        <a href="#" class="card__img">
          <span class="card__count">Более 8 товаров</span>
          <img src="@/img/content/category_image_09.jpg" alt="">
        </a>
        <a href="#" class="card__title">Лампады</a>
        <ul class="card__sub">
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Керамические лампады</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Стеклянные лампады</a>
          </li>
        </ul>
      </div>

      <div href="#" class="card">
        <a href="#" class="card__img">
          <span class="card__count">Более 8 товаров</span>
          <img src="@/img/content/category_image_10.jpg" alt="">
        </a>
        <a href="#" class="card__title">Одежда для усопших</a>
        <ul class="card__sub">
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Для мужчин</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Для женщин</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Комплекты одежды</a>
          </li>
        </ul>
      </div>

      <div href="#" class="card">
        <a href="#" class="card__img">
          <span class="card__count">Более 25 товаров</span>
          <img src="@/img/content/category_image_11.jpg" alt="">
        </a>
        <a href="#" class="card__title">Принадлежности для отпевания</a>
      </div>


    </div>
  </div>
  {% include "parthtml/tarif.html" %}
  {% include "parthtml/configurator.html" %}
  {% include "parthtml/form-call.html" %}

  <div class="section article article--limited">
    <div class="article__item">
      <h2 class="title-section">Наши ритульные услуги</h2>
      <div class="article__item-cnt">
        <p>
          Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными профессионалами и грамотной
          организации церемонии прощания. Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными
          профессионалами и грамотной организации будьте уверены в подборе высококачественного сервиса, в сотрудничестве с
          тактичными профессионалами и грамотной организации церемонии прощания. Будьте уверены в подборе высококачественного
          сервиса, в сотрудничестве с тактичными профессионалами и грамотной организации подборе высококачественного сервиса, в
          сотрудничестве с тактичными профессионалами и грамотной организации будьте уверены в подборе высококачественного
          сервиса, в сотрудничестве с тактичными профессионалами и грамотной организации церемонии прощания. Будьте уверены в
          подборе высококачественного сервиса, в сотрудничестве с тактичными профессионалами и грамотной организации
        </p>
        <hr>
        <p>
          Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными профессионалами и грамотной
          организации церемонии прощания. Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными
          профессионалами и грамотной организации будьте уверены в подборе высококачественного сервиса, в сотрудничестве с
          тактичными профессионалами и грамотной организации церемонии прощания. Будьте уверены в подборе высококачественного
          сервиса, в сотрудничестве с тактичными профессионалами и грамотной организации подборе высококачественного сервиса, в
          сотрудничестве с тактичными профессионалами и грамотной организации будьте уверены в подборе высококачественного
          сервиса, в сотрудничестве с тактичными профессионалами и грамотной организации церемонии прощания. Будьте уверены в
          подборе высококачественного сервиса, в сотрудничестве с тактичными профессионалами и грамотной организации
        </p>
      </div>
    </div>

    <div class="article__item">
      <h2 class="title-section">Какие услуги мы оказываем</h2>
      <div class="article__item-cnt">
        <p>В нашем каталогепредставлены погребальные предметы от самых бюджетных до статусныхвариантов. Мы также предлагаем комплексные решения:</p>
        <ul>
          <li>Социальные;</li>
          <li>Стандартные;</li>
          <li>Элитные;</li>
          <li>Мусульманские.</li>
        </ul>
        <p>Для удобства выбора вы можете остановиться на комплексном варианте, добавив другие товары для ритуальных услуг к уже
        предложенным в комплексе. На этой странице можно найти весь ассортимент похоронной атрибутики, посмотреть фото каждой
        позиции и узнать цену.</p>
        <hr>
        <p>
          Каталог удобно составлен таким образом, что при просмотре нужного погребального предмета сайт предложит связанные с
          выборомварианты товаров, а также покажет сопутствующие услуги. Поэтомукупить товары для похорон в нашем
          интернет-магазине легко, даже если вы эмоционально подавлены в данный момент.
        </p>
      </div>
    </div>

    <div class="article__item">
      <div class="article__item-cnt">
        <h2 class="title-section">Что нужно знать перед заказом услуг?</h2>
        <p>В нашем каталогепредставлены погребальные предметы от самых бюджетных до статусныхвариантов. Мы также предлагаем комплексные решения:</p>
        <ul>
          <li>Гробы от простых, обитых тканью, до солидных, полированных;;</li>
          <li>Постель в гроб от хлопчатобумажной до атласной;</li>
          <li>Таблички, фотоэмали;</li>
          <li>Ритуальные венки, корзины, ленты, живые цветы;</li>
          <li>Церковные принадлежности;</li>
          <li>Одежду;</li>
          <li>Столы, лавки, оградки и др.</li>
        </ul>
        <hr>
        <h2 class="title-section">Что же еще?</h2>
        <p>
          Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными профессионалами и грамотной
          организации церемонии прощания. Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными
          профессионалами тактичными профессионалами и грамотной организации церемонии прощания. Будьте уверены в подборе
          высококачественного сервиса, в сотрудничестве с тактичными профессионалами и грамотной организации подборе
          высококачественного сервиса, в сотрудничестве с тактичными профессионалами и грамотной организации будьте уверены в
          подборе высококачественного сервиса, в сотрудничестве с тактичными профессионалами и грамотной
        </p>
      </div>
    </div>
    <div class="btn-wrap btn-wrap--center">
      <button class="button-more btn btn--big">Показать все</button>
    </div>
  </div>
<!-- end container -->
</div>

{% endblock %}
