{% extends "./parthtml/base.html" %}
{% block content %}
<div class="container">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a href="#" class="breadcrumbs__link">Главная</a>
    </li>
    <li class="breadcrumbs__item active">
      <span class="breadcrumbs__link">Ритуальные товары</span>
    </li>
  </ul>
  <div class="section-intro section-intro--title-line">
    <h1 class="title-section">Ритуальные товары</h1>
    <div class="title-section__cnt">
      <p>Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными профессионалами и грамотной
      организации церемонии прощания. Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными
      профессионалами и грамотной организации</p>
    </div>
    <div class="title-section__cnt">
      <p>Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными профессионалами и грамотной
      организации церемонии прощания. Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными
      профессионалами</p>
    </div>
  </div>
  <div class="section">
    <div class="catalog-mini__cards category">
      <div href="#" class="card">
        <a href="#" class="card__img">
          <span class="card__count">Более 20 товаров</span>
          <img src="@/img/content/category_image_01.jpg" alt="">
        </a>
        <a href="#" class="card__title">Гробы</a>
        <ul class="card__sub">
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Гробы обитые тканью</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Полированные гробы</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Комбинированные гробы</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Гробы итальянского производства</a>
          </li>
        </ul>
      </div>

      <div href="#" class="card">
        <a href="#" class="card__img">
          <span class="card__count">Более 12 товаров</span>
          <img src="@/img/content/category_image_02.jpg" alt="">
        </a>
        <a href="#" class="card__title">Венки и корзины</a>
        <ul class="card__sub">
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Траурные ленты</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Венки из искусственных цветов</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Венки из живых цветов</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Траурные корзины</a>
          </li>
        </ul>
      </div>

      <div href="#" class="card">
        <a href="#" class="card__img">
          <span class="card__count">Более 17 товаров</span>
          <img src="@/img/content/category_image_03.jpg" alt="">
        </a>
        <a href="#" class="card__title">Кресты на могилу</a>
        <ul class="card__sub">
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Металлические кресты на могилу</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Сосновые кресты на могилу</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Дубовые кресты на могилу</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Таблички на могилу</a>
          </li>
        </ul>
      </div>

      <div href="#" class="card">
        <a href="#" class="card__img">
          <span class="card__count">Более 6 товаров</span>
          <img src="@/img/content/category_image_04.jpg" alt="">
        </a>
        <a href="#" class="card__title">Комплексты в гроб</a>
        <ul class="card__sub">
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Постель в гроб</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Покрывала в гроб</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Подушки в гроб</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Постельные комплекты в гроб</a>
          </li>
        </ul>
      </div>

      <div href="#" class="card">
        <a href="#" class="card__img">
          <span class="card__count">Более 8 товаров</span>
          <img src="@/img/content/category_image_05.jpg" alt="">
        </a>
        <a href="#" class="card__title">Урны для праха</a>
        <ul class="card__sub">
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Урны из дуба</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Урны из фанеры</a>
          </li>
        </ul>
      </div>

      <div href="#" class="card">
        <a href="#" class="card__img">
          <span class="card__count">Более 8 товаров</span>
          <img src="@/img/content/category_image_06.jpg" alt="">
        </a>
        <a href="#" class="card__title">Ритуальные таблички</a>
        <ul class="card__sub">
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Металлические таблички</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Деревянные таблички</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Таблички из камня</a>
          </li>
        </ul>
      </div>

      <div href="#" class="card">
        <a href="#" class="card__img">
          <span class="card__count">Более 20 товаров</span>
          <img src="@/img/content/category_image_07.jpg" alt="">
        </a>
        <a href="#" class="card__title">Цветы искусственные</a>
        <ul class="card__sub">
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Цветы поштучно</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Цветочные композиции</a>
          </li>
        </ul>
      </div>

      <div href="#" class="card">
        <a href="#" class="card__img">
          <span class="card__count">Более 20 товаров</span>
          <img src="@/img/content/category_image_08.jpg" alt="">
        </a>
        <a href="#" class="card__title">Ритуальные ленты</a>
        <ul class="card__sub">
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Однотонные ленты</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Ленты с надписями</a>
          </li>
        </ul>
      </div>

      <div href="#" class="card">
        <a href="#" class="card__img">
          <span class="card__count">Более 8 товаров</span>
          <img src="@/img/content/category_image_09.jpg" alt="">
        </a>
        <a href="#" class="card__title">Лампады</a>
        <ul class="card__sub">
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Керамические лампады</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Стеклянные лампады</a>
          </li>
        </ul>
      </div>

      <div href="#" class="card">
        <a href="#" class="card__img">
          <span class="card__count">Более 8 товаров</span>
          <img src="@/img/content/category_image_10.jpg" alt="">
        </a>
        <a href="#" class="card__title">Одежда для усопших</a>
        <ul class="card__sub">
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Для мужчин</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Для женщин</a>
          </li>
          <li class="card__sub-item">
            <a href="#" class="card__sub-link">Комплекты одежды</a>
          </li>
        </ul>
      </div>

      <div href="#" class="card">
        <a href="#" class="card__img">
          <span class="card__count">Более 25 товаров</span>
          <img src="@/img/content/category_image_11.jpg" alt="">
        </a>
        <a href="#" class="card__title">Принадлежности для отпевания</a>
      </div>


    </div>
  </div>
  {% include "parthtml/tarif.html" %}
  {% include "parthtml/configurator.html" %}
  {% include "parthtml/form-call.html" %}
  {% include "parthtml/article-seo.html" %}


<!-- end container -->
</div>

{% endblock %}
