{% extends "./parthtml/base.html" %}
{% block content %}

<div class="container">
  <div class="article-wrap section">
    <div class="article-aside">
      <div class="aside-nav">
        <div class="aside-nav__title">Компания</div>
        <ul class="aside-nav__list">
          <li class="aside-nav__item"><a href="" class="aside-nav__link">О компании</a></li>
          <li class="aside-nav__item"><a href="" class="aside-nav__link">Вопросы и ответы</a></li>
          <li class="aside-nav__item "><a href="" class="aside-nav__link">Отзывы о нас</a></li>
          <li class="aside-nav__item"><a href="" class="aside-nav__link">Документы</a></li>
          <li class="aside-nav__item active"><a href="" class="aside-nav__link">Адреса моргов</a></li>
          <li class="aside-nav__item"><a href="" class="aside-nav__link">Адреса кладбищ</a></li>
        </ul>
      </div>
    </div>

    <main class="article-main">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">Главная</a>
        </li>
        <li class="breadcrumbs__item">
          <span class="breadcrumbs__link">Морги</span>
        </li>
      </ul>
      <h1 class="title-section">Адреса наших моргов</h1>
      <div class="section-intro">
        <div class="title-section__cnt">Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными профессионалами и грамотной
        организации церемонии прощания. Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичнымипрофессионалами и грамотной организации</div>
        <div class="title-section__cnt">Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными профессионалами и грамотной
        организации церемонии прощания. Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными профессионалами и грамотной организации</div>
      </div>
      <div class="sort-abc section">
        <div class="sort-abc__title">Поиск по букве</div>
        <ul class="sort-abc__list">
          <li class="sort-abc__item mixitup-control-active" data-filter="all">Все
          </li>
          <li class="sort-abc__item" data-filter=".letter-1">А</li>
          <li class="sort-abc__item" data-filter=".letter-2">Б</li>
          <li class="sort-abc__item" data-filter="letter-3">В</li>
          <li class="sort-abc__item" data-filter="letter-4">Г</li>
          <li class="sort-abc__item" data-filter="letter-5">Е</li>
          <li class="sort-abc__item" data-filter="letter-6">И</li>
          <li class="sort-abc__item" data-filter="letter-7">К</li>
          <li class="sort-abc__item" data-filter="letter-8">Л</li>
          <li class="sort-abc__item" data-filter="letter-9">М</li>
          <li class="sort-abc__item" data-filter="letter-10">Н</li>
          <li class="sort-abc__item" data-filter="letter-11">О</li>
          <li class="sort-abc__item" data-filter="letter-12">П</li>
          <li class="sort-abc__item" data-filter="letter-13">Р</li>
          <li class="sort-abc__item" data-filter="letter-14">С</li>
          <li class="sort-abc__item" data-filter="letter-15">Т</li>
          <li class="sort-abc__item" data-filter="letter-16">О</li>
          <li class="sort-abc__item" data-filter="letter-17">Ш</li>
          <li class="sort-abc__item" data-filter="letter-18">Ю</li>
        </ul>
      </div>
      <div class="js-mixitup">
        <div class="sort-letter mix letter-1">A</div>
        <div class="service-cards morgue-cards mix letter-1">
          <div class="service-card service-card--service">
            <div class="service-card__ico ico ico--round ico--round-big">
              {{ macro.iconSvg('morgue') }}
            </div>
            <div class="service-card__cnt">
              <a href="#" class="service-card__title">Морг Максимилиановской больницы</a>
              <a href="tel:+79242409074" class="contact">
                <div class="contact__ico ico ico--round">
                  {{ macro.iconSvg('phone') }}
                </div>
                <div class="contact__cnt">
                  <div class="contact__txt">+7 (924) 240-90-74</div>
                </div>
              </a>
              <div class="contact">
                <div class="contact__ico ico ico--round">
                  {{ macro.iconSvg('map') }}
                </div>
                <div class="contact__cnt">
                  <div class="contact__txt">пр-кт Авиастроителей, 28А</div>
                </div>
              </div>
              <div class="contact">
                <div class="contact__ico ico ico--round">
                  {{ macro.iconSvg('clock') }}
                </div>
                <div class="contact__cnt">
                  <div class="contact__txt">Пн-Пт с 9:00 до 14:00; Сб-Вс – выходной</div>
                </div>
              </div>
            </div>
            <a href="#" data-map="35.258, 65.546" class="service-card__map-link">Посмотреть на карте</a>
          </div>
          <div class="service-card service-card--service">
            <div class="service-card__ico ico ico--round ico--round-big">
              {{ macro.iconSvg('morgue') }}
            </div>
            <div class="service-card__cnt">
              <a href="#" class="service-card__title">Морг российской военно-медицинской академии им. С.М. Кирова</a>
              <a href="tel:+79242409074" class="contact">
                <div class="contact__ico ico ico--round">
                  {{ macro.iconSvg('phone') }}
                </div>
                <div class="contact__cnt">
                  <div class="contact__txt">+7 (924) 240-90-74</div>
                </div>
              </a>
              <div class="contact">
                <div class="contact__ico ico ico--round">
                  {{ macro.iconSvg('map') }}
                </div>
                <div class="contact__cnt">
                  <div class="contact__txt">пр-кт Авиастроителей, 28А</div>
                </div>
              </div>
              <div class="contact">
                <div class="contact__ico ico ico--round">
                  {{ macro.iconSvg('clock') }}
                </div>
                <div class="contact__cnt">
                  <div class="contact__txt">Пн-Пт с 9:00 до 14:00; Сб-Вс – выходной</div>
                </div>
              </div>
            </div>
            <a href="#" data-map="35.258, 65.546" class="service-card__map-link">Посмотреть на карте</a>
          </div>
        </div>
        <div class="sort-letter mix letter-2">Б</div>
        <div class="service-cards morgue-cards mix letter-2">
          <div class="service-card service-card--service">
            <div class="service-card__ico ico ico--round ico--round-big">
              {{ macro.iconSvg('morgue') }}
            </div>
            <div class="service-card__cnt">
              <a href="#" class="service-card__title">Морг Максимилиановской больницы</a>
              <a href="tel:+79242409074" class="contact">
                <div class="contact__ico ico ico--round">
                  {{ macro.iconSvg('phone') }}
                </div>
                <div class="contact__cnt">
                  <div class="contact__txt">+7 (924) 240-90-74</div>
                </div>
              </a>
              <div class="contact">
                <div class="contact__ico ico ico--round">
                  {{ macro.iconSvg('map') }}
                </div>
                <div class="contact__cnt">
                  <div class="contact__txt">пр-кт Авиастроителей, 28А</div>
                </div>
              </div>
              <div class="contact">
                <div class="contact__ico ico ico--round">
                  {{ macro.iconSvg('clock') }}
                </div>
                <div class="contact__cnt">
                  <div class="contact__txt">Пн-Пт с 9:00 до 14:00; Сб-Вс – выходной</div>
                </div>
              </div>
            </div>
            <a href="#" data-map="35.258, 65.546" class="service-card__map-link">Посмотреть на карте</a>
          </div>
          <div class="service-card service-card--service">
            <div class="service-card__ico ico ico--round ico--round-big">
              {{ macro.iconSvg('morgue') }}
            </div>
            <div class="service-card__cnt">
              <a href="#" class="service-card__title">Морг российской военно-медицинской академии им. С.М. Кирова</a>
              <a href="tel:+79242409074" class="contact">
                <div class="contact__ico ico ico--round">
                  {{ macro.iconSvg('phone') }}
                </div>
                <div class="contact__cnt">
                  <div class="contact__txt">+7 (924) 240-90-74</div>
                </div>
              </a>
              <div class="contact">
                <div class="contact__ico ico ico--round">
                  {{ macro.iconSvg('map') }}
                </div>
                <div class="contact__cnt">
                  <div class="contact__txt">пр-кт Авиастроителей, 28А</div>
                </div>
              </div>
              <div class="contact">
                <div class="contact__ico ico ico--round">
                  {{ macro.iconSvg('clock') }}
                </div>
                <div class="contact__cnt">
                  <div class="contact__txt">Пн-Пт с 9:00 до 14:00; Сб-Вс – выходной</div>
                </div>
              </div>
            </div>
            <a href="#" data-map="35.258, 65.546" class="service-card__map-link">Посмотреть на карте</a>
          </div>
          <div class="service-card service-card--service">
            <div class="service-card__ico ico ico--round ico--round-big">
              {{ macro.iconSvg('morgue') }}
            </div>
            <div class="service-card__cnt">
              <a href="#" class="service-card__title">Морг российской военно-медицинской академии им. С.М. Кирова</a>
              <a href="tel:+79242409074" class="contact">
                <div class="contact__ico ico ico--round">
                  {{ macro.iconSvg('phone') }}
                </div>
                <div class="contact__cnt">
                  <div class="contact__txt">+7 (924) 240-90-74</div>
                </div>
              </a>
              <div class="contact">
                <div class="contact__ico ico ico--round">
                  {{ macro.iconSvg('map') }}
                </div>
                <div class="contact__cnt">
                  <div class="contact__txt">пр-кт Авиастроителей, 28А</div>
                </div>
              </div>
              <div class="contact">
                <div class="contact__ico ico ico--round">
                  {{ macro.iconSvg('clock') }}
                </div>
                <div class="contact__cnt">
                  <div class="contact__txt">Пн-Пт с 9:00 до 14:00; Сб-Вс – выходной</div>
                </div>
              </div>
            </div>
            <a href="#" data-map="35.258, 65.546" class="service-card__map-link">Посмотреть на карте</a>
          </div>
        </div>
      </div>


    </main>
  </div>
  {% include "parthtml/form-call.html" %}
</div>

{% endblock %}

{% block scriptfooter %}
<script defer src="@/js/map.js"></script>
{% endblock %}
