{% extends "./parthtml/base.html" %}
{% block content %}
<div class="container">
  <div class="article-wrap section">
    <div class="article-aside">
      <div class="catalog-filter" data-da=".mob-aside,1400">
        <div class="fiters">
          <div class="filter">
            <div class="catalog-filter__title">Ценовая категория</div>
            <div class="filter-price__inputs">
              <div class="filter__input-wrap">
                <label for="fprice_from">От:</label>
                <input type="text" id="fprice_from" value="0" name="fprice_from">
              </div>
              <div class="filter__input-wrap">
                <label for="fprice_to">До:</label>
                <input type="text" id="fprice_to" value="300000" name="fprice_to">
              </div>
            </div>
            <div class="filter-price__range range" id="filter-price__range"></div>
          </div>
          <div class="filter__action filter">
            <button id="setfilter" class="btn btn-setfilter">Применить фильтры</button>
            <a href="#" class="catalog-filter__reset">Показать все товары</a>
          </div>
        </div>
        <div class="filter-nav filter">
          <div class="catalog-filter__title">Каталог гробов</div>
          <ul class="filter-nav__list">
            <li class="filter-nav__item active">
              <a href="#" class="filter-nav__link">Гробы обитые тканью</a>
            </li>
            <li class="filter-nav__item">
              <a href="#" class="filter-nav__link">Полированные гробы</a>
            </li>
            <li class="filter-nav__item">
              <a href="#" class="filter-nav__link">Комбинированные гробы</a>
            </li>
            <li class="filter-nav__item">
              <a href="#" class="filter-nav__link">Гробы итальянского производства</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <main class="article-main">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">Главная</a>
        </li>
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">Ритуальные товары</a>
        </li>
        <li class="breadcrumbs__item">
          <span class="breadcrumbs__link">Гробы</span>
        </li>
      </ul>

      <h1 class="title-section">Каталог гробов</h1>
      <div class="mob-aside"></div>
      <div class="catalog-cards">
        <a href="#" class="card">
          <div class="card__img">
            <img src="@/img/content/item 1-1.jpg" alt="">
          </div>
          <div class="rating card__rating" data-rating="4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <h3 class="card__title">Гроб Саркофаг глянец</h3>
          <p class="card__desc">Качественный гроб отечественного производства из первоклассного соснового массива. Глянцевое
            покрытие...</p>
          <div class="price card__price">от 49 500 ₽</div>
        </a>

        <a href="#" class="card">
          <div class="card__img">
            <img src="@/img/content/item 1-2.jpg" alt="">
          </div>
          <div class="rating card__rating" data-rating="5">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <h3 class="card__title">Гроб Новый</h3>
          <p class="card__desc">Лаконичный гроб отечественного производства. Выполнен из древесно-волокнистой плиты,
            изготовленной...</p>
          <div class="price card__price">от 14 000 ₽</div>
        </a>

        <a href="#" class="card">
          <div class="card__img">
            <img src="@/img/content/item 1-3.jpg" alt="">
          </div>
          <div class="rating card__rating" data-rating="2">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <h3 class="card__title">Гроб Цинк</h3>
          <p class="card__desc">Модель специально разработанная для транспортировки Груза 200. Выполнен из оцинкованной стали.
            Соответствует...</p>
          <div class="price card__price">от 35 500 ₽</div>
        </a>

        <a href="#" class="card">
          <div class="card__img">
            <img src="@/img/content/item 1-1.jpg" alt="">
          </div>
          <div class="rating card__rating" data-rating="4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <h3 class="card__title">Гроб Саркофаг глянец</h3>
          <p class="card__desc">Качественный гроб отечественного производства из первоклассного соснового массива. Глянцевое
            покрытие...</p>
          <div class="price card__price">от 49 500 ₽</div>
        </a>

        <a href="#" class="card">
          <div class="card__img">
            <img src="@/img/content/item 1-2.jpg" alt="">
          </div>
          <div class="rating card__rating" data-rating="5">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <h3 class="card__title">Гроб Новый</h3>
          <p class="card__desc">Лаконичный гроб отечественного производства. Выполнен из древесно-волокнистой плиты,
            изготовленной...</p>
          <div class="price card__price">от 14 000 ₽</div>
        </a>

        <a href="#" class="card">
          <div class="card__img">
            <img src="@/img/content/item 1-3.jpg" alt="">
          </div>
          <div class="rating card__rating" data-rating="2">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <h3 class="card__title">Гроб Цинк</h3>
          <p class="card__desc">Модель специально разработанная для транспортировки Груза 200. Выполнен из оцинкованной стали.
            Соответствует...</p>
          <div class="price card__price">от 35 500 ₽</div>
        </a>
      </div>
      <div class="catalog-more">
        <button id="get-item-more" class="get-item-more loading">
          {{ macro.iconSvg('load_icon') }}
          Загрузить больше
        </button>
      </div>

    </main>
  </div>

  {% include "parthtml/form-call-dark.html" %}
  {% include "parthtml/article-seo.html" %}


<!-- end container -->
</div>


{% endblock %}
