{% extends "./parthtml/base.html" %}
{% block content %}
<div class="container">
    <div class="article-wrap section">
      <div class="article-aside">
        <form action="" class="form-call form form--aside form--dark form--center" name="formservice">
          <div class="form__title">Заказать услугу</div>
          <p class="form__txt">Бесплатно консультируем 24/7. Подробно ответим на ваши вопросы и предложим подходящее решение</p>
          <div class="form-line">
            <input type="tel" placeholder="+7 (___) ___-__-__">
          </div>
          <div class="form-line">
            <button type="submit" class="btn">Заказать услугу</button>
          </div>
          <p class="form__footer">Оставляя заявку, вы даете согласие на обработку персональных данных</p>
        </form>
      </div>
      <main class="article-main">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Наши услуги</a>
          </li>
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__link">Организация православных похорон</span>
          </li>
        </ul>

        <h1 class="title-section">Организация православных похорон в СПБ</h1>

        <div class="article-header">
          <div class="author">
            <div class="author__img">
              <img src="@/img/content/author.jpg" alt="Александр Хваленко">
            </div>
            <div class="author__cnt">
              <div class="light-txt">Автор материала</div>
              <div class="author__name">Александр Хваленко</div>
            </div>
          </div>
          <div class="article-header__data">
            <span class="article-header__rubric light-txt">Услуги</span>
            <span class="light-txt">3 минуты на чтение</span>
          </div>
        </div>

        <div class="article-img">
          <img src="@/img/content/service_image.jpg" alt="">
        </div>

        <div class="article-toc article">
          <div class="article-toc__title title">Содержание</div>
          <ul class="article-toc__list">
            <li class="article-toc__item">
              <a href="#h1">План действий</a>
            </li>
            <li class="article-toc__item">
              <a href="#h2">Пакет документов</a>
            </li>
            <li class="article-toc__item">
              <a href="#h3">Организация похорон или кремации</a>
            </li>
            <li class="article-toc__item">
              <a href="#h4">Церемония прощания</a>
            </li>
          </ul>
        </div>

        <div class="article article--limit">
          <h2 id="h1">Правила организации похорон в православии</h2>
          <p>Агентство Ритуал Москва предлагает заказать православные похороны. Мы организуем погребение, соблюдая все православные
          правила и традиции, а именно:</p>
          <ul>
            <li>предоставляем ритуальные принадлежности — гроб, одежду, венки, иконы и так далее;</li>
            <li>оформляем документы, в том числе в сложных случаях – например, если человек умер за границей;</li>
            <li>предоставляем транспорт для перевозки тела и тех, кто пришел проститься с покойным;</li>
            <li>организуем отпевание священником дома, в морге, в церкви, на кладбище;</li>
            <li>помогаем оформить место на кладбище, подготавливаем могилу;</li>
            <li>организуем поминки в удобном районе Москвы, в выбранном вами кафе или ресторане.</li>
          </ul>
          <p>Агенты контролируют ход погребения, находятся рядом, чтобы поддержать в трудную минуту или решить возможные
          форс-мажорные ситуации. Организуя похороны по-христиански, мы предоставляем комплекс услуг или отдельные услуги. При
          желании вы можете переложить все заботы на наши плечи либо заказать только поминки, отпевание или погребение.</p>

          <h2 id="h2">Как мы проводим православные похороны?</h2>
          <p>В христианской вере есть свои обычаи, которые нужно соблюдать при погребении, которые мы с трепетом соблюдаем на каждой
          церемонии погребения. Что мы делаем?</p>

          <h2 id="h3">Как заказать организацию похорон?</h2>
          <p>Лаконичный гроб отечественного производства. Выполнен из древесно-волокнистой плиты, изготовленной под высоким давлением и температурой. Каштановый цвет изделия покрыт глянцевым лаком. Четыре классические ручки по бокам для транспортировки. Подходит для похорон людей любых конфессий.</p>
          <div class="article-religion-cards">
            <div class="article-religion-cards__item">
              <div class="article-religion-cards__title">
                Подготовка
                <div class="article-religion-cards__ico">
                  <img src="@/img/icon/religion-orthodoxy.svg" alt="">
                </div>
              </div>
              <div class="article-religion-cards__cnt">
                Тело накрывают саваном с вышитыми крестами, в руки покойного вкладывают иконку и крест, а на лоб кладут венчик. На теле
                обязательно должен быть крест.
              </div>
            </div>
            <div class="article-religion-cards__item">
              <div class="article-religion-cards__title">
                Обряд
                <div class="article-religion-cards__ico">
                  <img src="@/img/icon/religion-orthodoxy.svg" alt="">
                </div>
              </div>
              <div class="article-religion-cards__cnt">
                У изголовья гроба ставят стакан с водой или водкой, накрытый хлебом, банку с крупой и горящей свечкой, икону.
              </div>
            </div>
            <div class="article-religion-cards__item">
              <div class="article-religion-cards__title">
                Погребение
                <div class="article-religion-cards__ico">
                  <img src="@/img/icon/religion-orthodoxy.svg" alt="">
                </div>
              </div>
              <div class="article-religion-cards__cnt">
              Все дни от смерти до погребения заказывается панихида, а в день похорон проводят отпевание.
              </div>
            </div>
            <div class="article-religion-cards__item">
              <div class="article-religion-cards__title">
                Поминки
                <div class="article-religion-cards__ico">
                  <img src="@/img/icon/religion-orthodoxy.svg" alt="">
                </div>
              </div>
              <div class="article-religion-cards__cnt">
              Поминки проводятся в день похорон, на девятый и сороковой дни после смерти. На 9-й и 40-й дни можно просто раздать
              поминальные пакеты.
              </div>
            </div>
            <div class="article-religion-cards__item">
              <div class="article-religion-cards__title">
                Перенос гроба
                <div class="article-religion-cards__ico">
                  <img src="@/img/icon/religion-orthodoxy.svg" alt="">
                </div>
              </div>
              <div class="article-religion-cards__cnt">
              Перед процессией идет мужчина, несущий распятие в рушнике (можно использовать икону). За ним также несут крышку гроба, и
              только потом усопшего.
              </div>
            </div>
          </div>

          <h2 id="h4">Сколько стоит организация православных похорон</h2>
          <p>Цена на организацию зависит от выбранного комплекса услуг. В сумму входит закупка необходимых принадлежностей и
          транспортировка гроба до места захоронения. Мы подстраиваемся под ваш бюджет и предлагаем подходящее решение — такое,
          которое не отнимет много денег, но позволит достойно проводить в последний путь близкого вам человека. Вы можете
          заказать православные похороны, позвонив нам по указанному телефону.</p>

          <h2>Стоимость организации похорон</h2>
          {% include "parthtml/cost-info.html" %}
          <!-- end article -->
        </div>
      </main>
    </div>
<!-- end container -->

  {% include "parthtml/religions.html" %}
  {% include "parthtml/form-call-dark.html" %}
</div>

{% endblock %}
