{% extends "./parthtml/base.html" %}
{% block content %}
<div class="container">
    <div class="article-wrap section">
      <div class="article-aside">
        <div class="form--dark form--center" data-da=".mob-aside,1400">
          <form action="" class="form-call form form--aside form--dark form--center" name="formservice">
            <div class="form__title">Заказать услугу</div>
            <p class="form__txt">Бесплатно консультируем 24/7. Подробно ответим на ваши вопросы и предложим подходящее решение</p>
            <div class="form-line">
              <input type="tel" placeholder="+7 (___) ___-__-__">
            </div>
            <div class="form-line">
              <button type="submit" class="btn">Заказать услугу</button>
            </div>
            <p class="form__footer">Оставляя заявку, вы даете согласие на обработку персональных данных</p>
          </form>
        </div>
      </div>
      <main class="article-main">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Наши услуги</a>
          </li>
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__link">Организация похорон в СПБ</span>
          </li>
        </ul>

        <h1 class="title-section">Организация похорон в СПБ</h1>

        <div class="article-header">
          <div class="author">
            <div class="author__img">
              <img src="@/img/content/author.jpg" alt="Александр Хваленко">
            </div>
            <div class="author__cnt">
              <div class="light-txt">Автор материала</div>
              <div class="author__name">Александр Хваленко</div>
            </div>
          </div>
          <div class="article-header__data">
            <span class="article-header__rubric light-txt">Услуги</span>
            <span class="light-txt">3 минуты на чтение</span>
          </div>
        </div>

        <div class="article-srv-card">
          <div class="service-card service-card--service">
            <div class="service-card__ico ico ico--round ico--round-big">
              {{ macro.iconSvg('coffin-2') }}
            </div>
            <div class="service-card__cnt">
              <h3 class="service-card__title">Похороны в СПБ</h3>
              <p class="service-card__txt">Организуем похороны в Санкт-Петербурге и области в срок. Учтем все ваши пожелания и
                предпочтения</p>
              <div class="service-card__footer light-txt">
                <span class="service-card__footer-ico ico">
                  {{ macro.iconSvg('info') }}
                </span>
                <span class="service-card__footer-txt">Для разных религий</span>
              </div>
            </div>
          </div>
        </div>

        <div class="mob-aside"></div>
        <div class="article-gallery">
          <a class="article-gallery__item" href="@/img/content/gallery.jpg" data-fancybox="gallery"><img src="@/img/content/gallery.jpg" alt=""></a>
          <a class="article-gallery__item" href="@/img/content/gallery.jpg" data-fancybox="gallery"><img src="@/img/content/gallery.jpg" alt=""></a>
          <a class="article-gallery__item" href="@/img/content/gallery.jpg" data-fancybox="gallery"><img src="@/img/content/gallery.jpg" alt=""></a>
        </div>

        <div class="article article--limit">
          <h2>Что входит в услугу организации похорон?</h2>
          <p>Лаконичный гроб отечественного производства. Выполнен из древесно-волокнистой плиты, изготовленной под высоким давлением и температурой. Каштановый цвет изделия покрыт глянцевым лаком. Четыре классические ручки по бокам для транспортировки.Подходит для похорон людей любых конфессий.</p>
          <ul>
            <li>Мы самостоятельно соберем все необходимые документы</li>
            <li>Оформим требуемые услуги в морге и на кладбище</li>
            <li>Предоставим ритуальные принадлежности и транспорт</li>
            <li>Организуем прощание</li>
            <li>Мы самостоятельно соберем все необходимые документы</li>
          </ul>
          <p>В этот непростой для вас период мы самостоятельно организуем погребение, без лишних временных и денежных трат.</p>
          <h2>Как заказать организацию похорон?</h2>
          <ol>
            <li>В течение 15 минут мы перезвоним вам, чтобы согласовать встречу с ритуальным агентом компании</li>
            <li>В течение 15 минут мы перезвоним вам, чтобы согласовать</li>
            <li>В течение 15 минут мы перезвоним вам, чтобы согласовать встречу с ритуальным агентом компании</li>
            <li>В течение 15 минут мы перезвоним вам, чтобы согласовать</li>
            <li>В течение 15 минут мы перезвоним вам, чтобы согласовать</li>
          </ol>
          <h2>Как заказать организацию похорон?</h2>
          <p>Лаконичный гроб отечественного производства. Выполнен из древесно-волокнистой плиты, изготовленной под высоким давлением и температурой. Каштановый цвет изделия покрыт глянцевым лаком. Четыре классические ручки по бокам для транспортировки. Подходит для похорон людей любых конфессий.</p>
          <ul>
            <li>Мы самостоятельно соберем все необходимые документы</li>
            <li>Оформим требуемые услуги в морге и на кладбище</li>
            <li>Предоставим ритуальные принадлежности и транспорт</li>
          </ul>
          <p>Лаконичный гроб отечественного производства. Выполнен из древесно-волокнистой плиты, изготовленной под высоким давлением и температурой. Каштановый цвет изделия покрыт глянцевым лаком. Четыре классические ручки по бокам для транспортировки.
          Подходит для похорон людей любых <a href="#">конфессий</a>. Лаконичный гроб отечественного производства. Выполнен из древесно-волокнистой плиты, изготовленной под высоким давлением и температурой. Каштановый цвет изделия покрыт глянцевым
          лаком. Четыре классические ручки по бокам для транспортировки.</p>
          <p>Подходит для похорон людей любых конфессий. Лаконичный гроб отечественного производства. Выполнен из древесно-волокнистой плиты, изготовленной под высоким давлением и
          температурой. Каштановый цвет изделия покрыт глянцевым лаком. Четыре классические ручки по бокам для транспортировки.
          Подходит для похорон людей любых конфессий.</p>
          <h2>Почему мы?</h2>
          <p>Лаконичный гроб отечественного производства. Выполнен из древесно-волокнистой плиты, изготовленной под высоким давлением
          и температурой. Каштановый цвет изделия покрыт глянцевым лаком. Четыре классические ручки по бокам для транспортировки.
          Подходит для похорон людей любых конфессий.</p>
          <div class="benefits-list benefits-list--article">
            <div class="benefit">
              <div class="benefit__ico ico">
                {{ macro.iconSvg('prayer') }}
              </div>
              <h3 class="benefit__title">Индивидуальный подход</h3>
            </div>
            <div class="benefit">
              <div class="benefit__ico ico">
                {{ macro.iconSvg('dove') }}
              </div>
              <h3 class="benefit__title">15-летний опыт организации похорон</h3>
            </div>
            <div class="benefit">
              <div class="benefit__ico ico">
                {{ macro.iconSvg('wreath') }}
              </div>
              <h3 class="benefit__title">Большой выбор ритуальных атрибутов</h3>

            </div>
            <div class="benefit">
              <div class="benefit__ico ico">
                {{ macro.iconSvg('ruble') }}
              </div>
              <h3 class="benefit__title">Демократичная стоимость услуг</h3>
            </div>
          </div>
          <h2>Стоимость организации похорон</h2>
          {% include "parthtml/cost-info.html" %}
          <!-- end article -->
        </div>
      </main>
    </div>
<!-- end container -->
  <div class="section">
    <div class="title-link">
      <h2 class="title-section">Другие услуги</h2>
      <a href="#" class="more more--desktop">Все услуги</a>
    </div>
    <div class="service-cards service-cards--inner">
      <!-- begin service-cards -->
      <a href="#" class="service-card service-card--service">
        <div class="service-card__ico ico ico--round ico--round-big">

          <svg class="iconsvg coffin-2 ">
            <use xlink:href="../img/sprite.svg#coffin-2"></use>
          </svg>

        </div>
        <div class="service-card__cnt">
          <h3 class="service-card__title">Похороны в СПБ</h3>
          <p class="service-card__txt">Организуем похороны в Санкт-Петербурге и области в срок. Учтем все ваши пожелания и
            предпочтения</p>
          <div class="service-card__footer light-txt">
            <span class="service-card__footer-ico ico">

              <svg class="iconsvg info ">
                <use xlink:href="../img/sprite.svg#info"></use>
              </svg>

            </span>
            <span class="service-card__footer-txt">Для разных религий</span>
          </div>
        </div>
      </a>

      <a href="#" class="service-card service-card--service">
        <div class="service-card__ico ico ico--round ico--round-big">

          <svg class="iconsvg ashes ">
            <use xlink:href="../img/sprite.svg#ashes"></use>
          </svg>

        </div>
        <div class="service-card__cnt">
          <h3 class="service-card__title">Кремация</h3>
          <p class="service-card__txt">Оформим услуги морга и крематория, предоставим ритуальные пренодлежности и транспорт
          </p>
        </div>
      </a>

      <a href="#" class="service-card service-card--service">
        <div class="service-card__ico ico ico--round ico--round-big">

          <svg class="iconsvg obituary ">
            <use xlink:href="../img/sprite.svg#obituary"></use>
          </svg>

        </div>
        <div class="service-card__cnt">
          <h3 class="service-card__title">Оформление документов</h3>
          <p class="service-card__txt">Обратимся в медицинское учреждение, в котором данный человек находился под
            наблюдением врачей, и подготовим необходимые документы для погребения или кремации.</p>
        </div>
      </a>

      <a href="#" class="service-card service-card--service">
        <div class="service-card__ico ico ico--round ico--round-big">

          <svg class="iconsvg graveyard ">
            <use xlink:href="../img/sprite.svg#graveyard"></use>
          </svg>

        </div>
        <div class="service-card__cnt">
          <h3 class="service-card__title">Благоустройство могилы</h3>
          <p class="service-card__txt">Уборка и прополка могилы, окраска оградки, возложение цветов, замена намогильных
            сооружений. По результатам работы
            пришлем подробный фотоотчет о проделанной работе.</p>
        </div>
      </a>
      <!-- end service-cards -->
    </div>
  </div>
  {% include "parthtml/religions.html" %}
  {% include "parthtml/form-call-dark.html" %}
</div>

{% endblock %}
