{% extends "./parthtml/base.html" %}
{% block content %}
<div class="container">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a href="#" class="breadcrumbs__link">Главная</a>
    </li>
    <li class="breadcrumbs__item">
      <span class="breadcrumbs__link">Наши услуги</span>
    </li>
  </ul>
  <div class="section">
    <div class="page-intro-wrap section" >
      <div class="page-intro-img" style="background-image: url('@/img/content/inro_services.jpg')"></div>
      <div class="page-intro">
        <h1 class="title-section">Услуги похоронного агентства «Название»</h1>
        <p class="page-intro__cnt">Мы искренне сопереживаем вашему горю и поможем пережить горечь утраты. Наше ритуальное агентство предлагает организацию. Мы искренне сопереживаем вашему горю и поможем пережить горечь утраты.</p>
        <div class="page-intro__help help">
          <a href="#" class="btn btn--dark">Нужна помощь</a>
          <a href="tel:+79242409074" class="contact">
            <div class="contact__cnt">
              <div class="contact__pre">Круглосуточно</div>
              <div class="contact__txt">+7 (924) 240-90-74</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="btn btn--title">Наши преимущества</div>
    <div class="section-intro">
      <h2 class="title-section">Мы понимаем, что смерть дорогого человека – сложное эмоциональное потрясение</h2>
      <div class="title-section__cnt">
        <!-- copy from  benefits.html-->
        <div class="benefits-list">
          <div class="benefit">
            <div class="benefit__ico ico">
              {{ macro.iconSvg('prayer') }}
            </div>
            <h3 class="benefit__title">Индивидуальный подход</h3>
            <div class="benefit__txt">Мы понимаем, что смерть дорогого человека – сложное эмоциональное потрясение, поэтому
              обеспечиваем все условия для того, чтобы семья покойного не заботилась ни о каких вопросах по организации
              прощальной церемонии</div>
          </div>
          <div class="benefit">
            <div class="benefit__ico ico">
              {{ macro.iconSvg('dove') }}
            </div>
            <h3 class="benefit__title">15-летний опыт организации похорон</h3>
            <div class="benefit__txt">Уже на протяжении 15 лет мы организуем прощальные церемонии. У нас есть надежные
              подрядчики, квалифицированный персонал, современная техника. Мы работаем профессионально, оперативно, с заботой о
              людях, которым пришлось понести горечь утраты</div>
          </div>
          <div class="benefit">
            <div class="benefit__ico ico">
              {{ macro.iconSvg('wreath') }}
            </div>
            <h3 class="benefit__title">Большой выбор ритуальных атрибутов</h3>
            <div class="benefit__txt">Мы сотрудничаем со многими подрядчиками, которые обеспечивают наши мероприятия элементами
              оформления и ритуальными принадлежностями</div>
          </div>
          <div class="benefit">
            <div class="benefit__ico ico">
              {{ macro.iconSvg('ruble') }}
            </div>
            <h3 class="benefit__title">Демократичная стоимость услуг</h3>
            <div class="benefit__txt">Цена зависит от пакета услуг – у нас есть предложения от «эконом» до «премиум».
              Предварительную стоимость вы можете узнать на нашем сайте или по контактному телефону</div>
          </div>
        </div>
        <!-- copy from  benefits.html-->
      </div>
    </div>
  </div>

  <div class="section">
    <div class="btn btn--title">Наши преимущества</div>
    <h2 class="title-section">Будьте уверены в подборе высококачественного сервиса</h2>
    <div class="section-intro">
      <p>Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными профессионалами и грамотной
      организации церемонии прощания. Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными
      профессионалами и грамотной организации</p>
      <p>Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными профессионалами и грамотной
      организации церемонии прощания. Будьте уверены в подборе высококачественного сервиса, в сотрудничестве с тактичными
      профессионалами и грамотной организации</p>
    </div>
    <div class="service-cards service-cards--inner">
      <!-- begin service-cards -->
      <a href="#" class="service-card service-card--service">
        <div class="service-card__ico ico ico--round">
          {{ macro.iconSvg('coffin-2') }}
        </div>
        <div class="service-card__cnt">
          <h3 class="service-card__title">Похороны в СПБ</h3>
          <p class="service-card__txt">Организуем похороны в Санкт-Петербурге и области в срок. Учтем все ваши пожелания и
            предпочтения</p>
          <div class="service-card__footer light-txt">
            <span class="service-card__footer-ico ico">
              {{ macro.iconSvg('info') }}
            </span>
            <span class="service-card__footer-txt">Для разных религий</span>
          </div>
        </div>
      </a>

      <a href="#" class="service-card service-card--service">
        <div class="service-card__ico ico ico--round">
          {{ macro.iconSvg('ashes') }}
        </div>
        <div class="service-card__cnt">
          <h3 class="service-card__title">Кремация</h3>
          <p class="service-card__txt">Оформим услуги морга и крематория, предоставим ритуальные пренодлежности и транспорт</p>
        </div>
      </a>

      <a href="#" class="service-card service-card--service">
        <div class="service-card__ico ico ico--round">
          {{ macro.iconSvg('obituary') }}
        </div>
        <div class="service-card__cnt">
          <h3 class="service-card__title">Оформление документов</h3>
          <p class="service-card__txt">Обратимся в медицинское учреждение, в котором данный человек находился под наблюдением врачей, и подготовим необходимые документы для погребения или кремации.</p>
        </div>
      </a>

      <a href="#" class="service-card service-card--service">
        <div class="service-card__ico ico ico--round">
          {{ macro.iconSvg('graveyard') }}
        </div>
        <div class="service-card__cnt">
          <h3 class="service-card__title">Благоустройство могилы</h3>
          <p class="service-card__txt">Уборка и прополка могилы, окраска оградки, возложение цветов, замена намогильных сооружений. По результатам работы
          пришлем подробный фотоотчет о проделанной работе.</p>
        </div>
      </a>

      <a href="#" class="service-card service-card--service">
        <div class="service-card__ico ico ico--round">
          {{ macro.iconSvg('suit') }}
        </div>
        <div class="service-card__cnt">
          <h3 class="service-card__title">Подготовка тела</h3>
          <p class="service-card__txt">Ваш личный помощник при организации похорон.</p>
        </div>
      </a>

      <a href="#" class="service-card service-card--service">
        <div class="service-card__ico ico ico--round">
          {{ macro.iconSvg('hearse') }}
        </div>
        <div class="service-card__cnt">
          <h3 class="service-card__title">Автокатафалк</h3>
          <p class="service-card__txt">Автобусы и катафалки разной вместимости и класса комфортности</p>
        </div>
      </a>

      <a href="#" class="service-card service-card--service">
        <div class="service-card__ico ico ico--round">
          {{ macro.iconSvg('shovel') }}
        </div>
        <div class="service-card__cnt">
          <h3 class="service-card__title">Захоронение усопшего</h3>
          <p class="service-card__txt">Автобусы и катафалки разной вместимости и класса комфортности</p>
        </div>
      </a>

      <a href="#" class="service-card service-card--service">
        <div class="service-card__ico ico ico--round">
          {{ macro.iconSvg('morgue') }}
        </div>
        <div class="service-card__cnt">
          <h3 class="service-card__title">Доставка гроба и принадлежностей в морг</h3>
          <p class="service-card__txt">Автобусы и катафалки разной вместимости и класса комфортности</p>
        </div>
      </a>

      <a href="#" class="service-card service-card--service">
        <div class="service-card__ico ico ico--round">
          {{ macro.iconSvg('location') }}
        </div>
        <div class="service-card__cnt">
          <h3 class="service-card__title">Вынос и занос из морга в катафалк</h3>
          <p class="service-card__txt">Ваш личный помощник при организации похорон</p>
        </div>
      </a>

      <!-- end service-cards -->
    </div>
  </div>
  {% include "parthtml/religions.html" %}
  {% include "parthtml/configurator.html" %}
  {% include "parthtml/form-call.html" %}
  {% include "parthtml/article-seo.html" %}
  <!-- end container -->
</div>
{% endblock %}
